[2015-09-28 17:58] githubteacher opened #1 "Please comment here!"
This lets us quickly and easily add you as a collaborator to this repo, giving you write access. Thanks!

[2015-09-29 16:05] schrags commented on #1
woo

[2015-09-29 16:05] uclabruins89 commented on #1
Hello from RB!

[2015-09-29 16:05] nathanv commented on #1
Hello from Waterloo, Ontario!

[2015-09-29 16:05] kpaxman commented on #1
Hello world!

[2015-09-29 16:05] cbrownrt commented on #1
Hello

[2015-09-29 16:05] PavolC commented on #1
hello

[2015-09-29 16:05] selkins13 commented on #1
Hello

[2015-09-29 16:05] ostruk commented on #1
wazzzap

[2015-09-29 16:05] shasha00 commented on #1
Hello

[2015-09-29 16:05] iStryker commented on #1
hello world

[2015-09-29 16:05] heyword commented on #1
Hello

[2015-09-29 16:05] scottfelt commented on #1
Hey

[2015-09-29 16:05] ajmc commented on #1
checking in

[2015-09-29 16:05] lkmorlan commented on #1
Hello.

[2015-09-29 16:05] senjisuman commented on #1
Hello

[2015-09-29 16:05] markw-iqmetrix commented on #1
Greetings

[2015-09-29 16:05] brian-rickman commented on #1
hello

[2015-09-29 16:05] jmbalasalle commented on #1
Last!

[2015-09-29 16:05] joshuawillis commented on #1
Hello from DC!

[2015-09-29 16:05] shraykay commented on #1
Hi there.

[2015-09-29 16:05] jsphconnell commented on #1
hello

[2015-09-29 16:05] lgravley commented on #1
Write meow

[2015-09-29 16:05] WoodyTheWoodman commented on #1
Hello

[2015-09-29 16:05] nickomart commented on #1
:dart:

[2015-09-29 16:05] christybermanmxr commented on #1
Hi!

[2015-09-29 16:05] kglushko commented on #1
Hello

[2015-09-29 16:05] NickGe commented on #1
Pew pew

[2015-09-29 16:05] jskravitz commented on #1
Hello

[2015-09-29 16:05] LandinMartensIQ commented on #1
I am alive

[2015-09-29 16:05] jleaver commented on #1
hello!

[2015-09-29 16:05] abhibond commented on #1
Hello

[2015-09-29 16:05] Chuckbert opened #2 "Hello from San Diego"
Howdy!

[2015-09-29 16:05] graham-sanipelli-iq commented on #1
helloooo

[2015-09-29 16:05] janmizzle commented on #1
hi

[2015-09-29 16:05] sammeidinger commented on #1
hey hey hey

[2015-09-29 16:05] denniscullison commented on #1
Hello

[2015-09-29 16:06] rejectedOrchid commented on #1
Hey!

[2015-09-29 16:06] vinay-g commented on #1
hello

[2015-09-29 16:06] steveratay commented on #1
Good morning!

[2015-09-29 16:06] jdholdren commented on #1
Hey there

[2015-09-29 16:06] msggithub commented on #1
Hello

[2015-09-29 16:06] ebd2 commented on #1
Hello

[2015-09-29 16:06] satishsaley commented on #1
hello

[2015-09-29 16:06] nickomart commented on #1
Hi :dango:

[2015-09-29 16:06] bcmatz commented on #1
found it

[2015-09-29 16:06] brendenp-iq commented on #1
comment

[2015-09-29 16:06] saranicole commented on #1
Ping

[2015-09-29 16:06] kmccarty98 commented on #1
Howdy

[2015-09-29 16:06] lakshgupta commented on #1
Hello

[2015-09-29 16:06] dyzhou222 commented on #1
Hello

[2015-09-29 16:06] ghost commented on #1
hello

[2015-09-29 16:06] ghost commented on #1
test test - good morning

[2015-09-29 16:06] dpmex4527 commented on #1
One does not simply comment on an issue.....

[2015-09-29 16:06] heenamore commented on #1
Hi..heena here

[2015-09-29 16:06] gstanek commented on #1
Hello

[2015-09-29 16:06] indijanc commented on #1
Howdy

[2015-09-29 16:06] bikbajwa commented on #1
Here

[2015-09-29 16:06] busreset commented on #1
Hello, finally in

[2015-09-29 16:06] cccmpuser commented on #1
HI

[2015-09-29 16:06] tnguyen03 commented on #1
Hello!

[2015-09-29 16:06] tjcolvin commented on #1
Hello

[2015-09-29 16:06] OluOyedipe commented on #1
hola

[2015-09-29 16:06] newbootz commented on #1
hi

[2015-09-29 16:06] gkaluza commented on #1
Hello

[2015-09-29 16:06] ericcurtin commented on #1
Github is about to explode. Big issue!

[2015-09-29 16:06] jmarlena commented on #1
whoa lots of people!

[2015-09-29 16:06] hbalagtas commented on #1
Hello from UWaterloo!!!

[2015-09-29 16:06] noahuci commented on #1
new comment

[2015-09-29 16:06] mnshantz commented on #1
hello

[2015-09-29 16:06] puneetguptanitj commented on #1
Hello

[2015-09-29 16:06] salilwagh commented on #1
Hello!!!

[2015-09-29 16:06] ayeladandi commented on #1
hello

[2015-09-29 16:06] lakshgupta commented on #1
hello

[2015-09-29 16:06] Smarzulla commented on #1
another comment

[2015-09-29 16:06] huynhmark commented on #1
hello there

[2015-09-29 16:06] nt151001 commented on #1
hello world

[2015-09-29 16:06] markowalsh commented on #1
hello from galway

[2015-09-29 16:06] l26yan commented on #1
HI

[2015-09-29 16:06] ap120266 commented on #1
hello

[2015-09-29 16:06] jmarlena commented on #1
hey

[2015-09-29 16:07] kaiyuan01 opened #3 "test"
test

[2015-09-29 16:07] metherton commented on #1
hello

[2015-09-29 16:07] dejanpojbic commented on #1
Boo!

[2015-09-29 16:07] nemanja90 commented on #1
Hi

[2015-09-29 16:07] jmatracia commented on #1
hi

[2015-09-29 16:07] mikebuw commented on #1
hello

[2015-09-29 16:07] tgandrews89 commented on #1
hey

[2015-09-29 16:07] bstrzinar commented on #1
Hello...

[2015-09-29 16:07] hiteshm389 commented on #1
hello

[2015-09-29 16:07] maryfries commented on #1
Hello!

[2015-09-29 16:07] jeffvoskamp commented on #1
signing in would help

[2015-09-29 16:07] kevinscully commented on #1
hi

[2015-09-29 16:07] HanaaL commented on #1
Hi there

[2015-09-29 16:07] ebremner17 commented on #1
Hello

[2015-09-29 16:07] Chuckbert commented on #1
Here I am!

[2015-09-29 16:07] Ziliboba opened #4 "hello"
hello issue

[2015-09-29 16:07] bonac commented on #1
good bye

[2015-09-29 16:07] kevinman42 commented on #1
My comment

[2015-09-29 16:07] BHoward67 commented on #1
Hello Github

[2015-09-29 16:07] annavester commented on #1
Hello

[2015-09-29 16:07] evan-c-brown commented on #1
Hi

[2015-09-29 16:07] rgmain opened #5 "hi"

[2015-09-29 16:07] ringhilterra commented on #1
hello

[2015-09-29 16:07] ketang1 opened #6 "need access rights"

[2015-09-29 16:07] CSAmador commented on #1
hi

[2015-09-29 16:07] ShawnShealy commented on #1
It is howdydoodeytime!

[2015-09-29 16:07] dehleek commented on #1
hello

[2015-09-29 16:07] d2mohapl commented on #1
hello

[2015-09-29 16:07] kluster35 commented on #1
hello

[2015-09-29 16:07] l26yan opened #7 "Test"
Test

[2015-09-29 16:07] ffmeng commented on #1
hi

[2015-09-29 16:07] djnitram commented on #1
hello

[2015-09-29 16:07] gki7138 commented on #1
hi

[2015-09-29 16:08] sivaprakash-adari commented on #1
hi

[2015-09-29 16:08] SangySantharam commented on #1
hi please give me access

[2015-09-29 16:08] Gurinder-Gill commented on #6
Me too

[2015-09-29 16:08] metherton commented on #1
hello

[2015-09-29 16:08] stevendluke commented on #1
Comment

[2015-09-29 16:08] delroyh commented on #1
Hello!

[2015-09-29 16:08] #2 closed, assigned to nobody

[2015-09-29 16:08] tgandrews89 commented on #1
hey

[2015-09-29 16:08] pjaka commented on #1
hey

[2015-09-29 16:08] djnitram opened #8 "test new issue"
Leaving an issue

[2015-09-29 16:08] Ziliboba commented on #1
hello

[2015-09-29 16:08] karen-ng commented on #1
Hello

[2015-09-29 16:08] ketang1 commented on #1
hi

[2015-09-29 16:08] fggrimmer commented on #1
give me access!

[2015-09-29 16:08] rajpalgill commented on #7
hello

[2015-09-29 16:08] kaiyuan01 commented on #1
Need access

[2015-09-29 16:08] moliverio commented on #1
Hello

[2015-09-29 16:08] sammeidinger opened #9 "my issue"
this issue
- [x] item 1
- [ ] item 2

[2015-09-29 16:08] PinoEire commented on #1
Hi there

[2015-09-29 16:08] sivaprakash-adari opened #10 "test Create issue"

[2015-09-29 16:08] Ehhven commented on #1
hello

[2015-09-29 16:08] sanjay990 commented on #1
hello

[2015-09-29 16:08] moliverio commented on #1
hi

[2015-09-29 16:09] ashrawat commented on #1
From Atl

[2015-09-29 16:09] pkirby opened #11 "hello"

[2015-09-29 16:09] dlinstruth opened #12 "Test Issue"

[2015-09-29 16:09] jcbustamante2015 commented on #1
When you get a chance, are you able to explain the differences between github and gitlab, and if they are just different products?

[2015-09-29 16:09] jmbalasalle opened #13 "Labeled Question"
This is a question with a label.

How many digits of pi can you list?

[2015-09-29 16:09] tlebhar commented on #1
Thanks for the URL...

[2015-09-29 16:09] kevinscully opened #14 "hi from kevin"

[2015-09-29 16:09] AymanShaaban commented on #1
Hello

[2015-09-29 16:09] Hutchasmuch commented on #1
Comment

[2015-09-29 16:09] gdmalet commented on #1
Yes.

[2015-09-29 16:09] zeeshanSD commented on #1
Hello

[2015-09-29 16:09] c0mmonDm0 commented on #1
Hello

[2015-09-29 16:09] Gurinder-Gill commented on #1
Me Too

[2015-09-29 16:09] bhenton123 opened #15 "hello"

[2015-09-29 16:09] snigdhajain commented on #1
hi

[2015-09-29 16:10] jns111 opened #16 "test sd"

[2015-09-29 16:10] BFCIV commented on #1
Hi

[2015-09-29 16:10] rajpalgill commented on #1
hello rajpal

[2015-09-29 16:10] neicher1 commented on #1
me too please

[2015-09-29 16:11] aabognah commented on #1
Hi,
please add me.
Thanks

[2015-09-29 16:11] ToshForrester commented on #1
Hello

[2015-09-29 16:11] pkirby commented on #1
hello

[2015-09-29 16:11] sweetfisheric commented on #1
hello

[2015-09-29 16:11] vl186000 commented on #1
hello world!

[2015-09-29 16:11] lisascullystein commented on #1
hello

[2015-09-29 16:11] ssackrider commented on #1
hello

[2015-09-29 16:11] ericcurtin opened #17 "How do I turn off email notification?"
My email is getting flooded with Issue comments, that I don't want.

[2015-09-29 16:11] dlinstruth commented on #1
hello

[2015-09-29 16:11] chvrsi commented on #1
cheers

[2015-09-29 16:11] jungao1999 commented on #1
hi

[2015-09-29 16:11] milindrao opened #18 "Hello!"

[2015-09-29 16:11] maryfries opened #19 "How can we stop the emails?"
I'm getting a separate email for every single comment. They are coming in to fast that they are interrupting the webinar.

[2015-09-29 16:11] ethanpwhite commented on #1
Hi

[2015-09-29 16:11] lkmorlan commented on #17
Click "unsubscribe".

[2015-09-29 16:11] #11 closed, assigned to nobody

[2015-09-29 16:12] kcentofante commented on #1
Hi from Menlo Park

[2015-09-29 16:12] daijing01 commented on #1
hi from san diego

[2015-09-29 16:12] Nobel5 commented on #1
Hi

[2015-09-29 16:12] kukkadav opened #20 "test new issue - vv"

[2015-09-29 16:13] gseller commented on #1
Hi

[2015-09-29 16:13] hiteshm389 opened #21 "test issue 1"

[2015-09-29 16:13] pdxtom commented on #1
hello world

[2015-09-29 16:13] prasadkatti commented on #1
Hello

[2015-09-29 16:13] jmbalasalle opened #22 "Do watching a repo send emails for commits, merges, etc?"

[2015-09-29 16:13] pvencel commented on #1
Hi

[2015-09-29 16:14] mikebuw opened #23 "Hi"

[2015-09-29 16:14] JP121292 commented on #1
Hello

[2015-09-29 16:14] LandinMartensIQ opened #24 "test issue"
test desc

[2015-09-29 16:14] WeitiHuang opened #25 "WTH issue"

[2015-09-29 16:14] daijing01 opened #26 "testing"

[2015-09-29 16:14] jamie-cyber1 commented on #1
Please add me.

[2015-09-29 16:14] bnorrish27 commented on #1
test

[2015-09-29 16:14] delroyh opened #27 "test issue"
New issue!

[2015-09-29 16:15] huynhmark opened #28 "My Own Issue"
### not about any particular thing !!!!!
- [ ] item

[2015-09-29 16:15] varma-s commented on #1
hello

[2015-09-29 16:15] sammeidinger commented on #9
# hi

[2015-09-29 16:15] dclarkrb commented on #1
hello

[2015-09-29 16:15] sfeinholz opened #29 "hard to read your screen"
screen too small; looks like you have dual monitor system and we see one side

[2015-09-29 16:16] sammeidinger commented on #9
*. item 1
- item 2
  - [ ] hi
  - [ ] hey

[2015-09-29 16:16] sivaprakash-adari commented on #10
## This is the first line

[2015-09-29 16:17] LandinMartensIQ opened #30 "Someone else said - hard to read your screen text"
Someone else said - hard to read your screen text

[2015-09-29 16:17] vb186017 commented on #1
Hello

[2015-09-29 16:17] githubteacher opened #31 "Demo creating new Issue"
### This is the first line.
- [x] item 1
- [x] item 2

[2015-09-29 16:17] busreset opened #32 "Why must I ask your questions"
Do it **yourself**.

[2015-09-29 16:17] aabognah opened #33 "test issue"
#### testing
- [x] itme1
- [x] item2

[this is a test ling](http://www.uwaterloo.ca)

[2015-09-29 16:17] jskravitz commented on #1
I need write access.  Thank you

[2015-09-29 16:18] Ziliboba opened #34 "demo issue zel"
#### title
- [x] item 1
- [ ]  item 2

[2015-09-29 16:18] ethanpwhite opened #35 "THE VOLCANO IS ERUPTING"
THE VOLCANO GODS ARE REALLY ANGRY!!!!!!!!

[2015-09-29 16:18] kukkadav opened #36 "test checkbox"
[ ] item1
[ ] item2

[2015-09-29 16:18] fggrimmer opened #37 "My new issue"
### this is a new issue.

**nothing** _great._
- [x] item1
- [ ] item2

[2015-09-29 16:18] bcmatz opened #38 "I have issues"
Oh, **where** to begin ;-P

[] Issue 1
[] Issue 2
[] Not enough room for all my issues ;)

[2015-09-29 16:18] dafisher59 opened #39 "Test Issue"
This is a small test

[2015-09-29 16:18] ringhilterra opened #40 "Demo Issue create"
## The line
- [x] item 1
- [x] item 2

[2015-09-29 16:18] geonilpark opened #41 "test issue"
This is test issue
- issue1
- issue2

[2015-09-29 16:18] ashrawat opened #42 "test"
## This is a test

*\* Bold **

[2015-09-29 16:18] mnshantz opened #43 "Testing..."
### Test line one.
- [ ] Item 1
- [ ] Item 2

[2015-09-29 16:18] hiteshm389 opened #44 "New test issue"
### This is the first line
- [x] item1
- [x] item2

[2015-09-29 16:18] ajmc opened #45 "test issue"
### testing
- [x] item 1
- [x] item 2

[2015-09-29 16:18] jcbustamante2015 opened #46 "Difference between Gitlab and Github"
When you get a chance, are you able to explain the differences between **github** and **gitlab**, and if they are just different products?

[2015-09-29 16:18] jns111 opened #47 "test issue"
### first line
- [x] 1st line
- [ ] 2nd line

[2015-09-29 16:18] sivaprakash-adari commented on #10
-[] First one
-[] Second one

[2015-09-29 16:18] metherton opened #48 "Major issue"
### a title for major isse

[2015-09-29 16:18] CSAmador opened #49 "sith sis"
## This is the first line

-[ ] isis
-[ ]slis

[2015-09-29 16:18] heyword opened #50 "My new issue"
# Title
### H3 tag
- bullet
- [ ] clickable checkbox
- [ ] clickable checkbox2
  Any text.

[2015-09-29 16:19] bhughes2 opened #51 "testing"

[2015-09-29 16:19] sbrinkmeyer opened #52 "why can't i"
create an issue?

[2015-09-29 16:19] yfzhaosteve opened #53 "Test a new issue"
This is a new _important_ issue.

[2015-09-29 16:19] kluster35 opened #54 "Test Issue"
Test issue
- [x] item 1
- [x] item 2

[2015-09-29 16:19] SangySantharam opened #55 "TEST ISSUE"
# BIG ISSUE

[2015-09-29 16:19] MommersRL commented on #1
Present

[2015-09-29 16:19] rajpalgill opened #56 "rajpal new issue"
this is my first issue

[2015-09-29 16:19] ghost opened #57 "Demo - test creating issue."
- list items.
# title tag.

[2015-09-29 16:19] cbrownrt opened #58 "Just another test issue with checkboxes"
This is **bold**
- [ ] item
- [ ] another

[2015-09-29 16:19] sfeinholz commented on #29
_**STILL HARD TO READ YOUR SCREEN *_*

[2015-09-29 16:19] ebd2 opened #59 "Earth crashes into Sun when run with --force"
This has the side-effect of destroying
- [x] venus
- [x] mercury

[2015-09-29 16:19] joshijee opened #60 "Hello There"
Hello There.

[2015-09-29 16:19] kpaxman opened #61 "Need answer to life, the universe, and everything"
Magrathea charges **too much**.

Anyone out there had their own planet-based computer running long enough to provide the answer?
- [ ] yes

[2015-09-29 16:19] bikbajwa opened #62 "Houston - we have a problem"
- [ ] solved
- [ ] more solved

[2015-09-29 16:19] neicher1 opened #63 "Noel's new issue"
This is **Noel's** issue.
- [ ] item1
- [ ] item2

[2015-09-29 16:19] zeeshanSD opened #64 "My Test Issue"
### This is my first issue
- [ ] One
- [ ] two

[link to yahoo](http://www.yahoo.com)

[2015-09-29 16:19] WoodyTheWoodman opened #65 "test issue"
Which issue am I having?
- [ ] issue 1
- [ ] issue 2

[2015-09-29 16:19] scottfelt opened #66 "Practice Issue"
- One
- Two
- Three

[2015-09-29 16:19] WeitiHuang commented on #25
## This is the first line.
- item1
- item2
1. item1
2. item2

[2015-09-29 16:19] hl-iqmetrix opened #67 "This is a sample new issue"
# This is a title

**This is not a title, but it is bold**
- [ ] option1
- [ ] option2

[2015-09-29 16:19] saranicole opened #68 "Fire Drill"

[2015-09-29 16:19] ap120266 opened #69 "mydemo issue"
### H3 heading

**bold**
- [x] checkbox
- [ ] checkbox

[2015-09-29 16:19] pblanch opened #70 "Working on Markdown text"
## Hello - are you in the class?
- [ ] Yes
- [ ] No

[2015-09-29 16:19] kmccarty98 opened #71 "Test Issue"
# Is it an issue?
- [ ] Yes
- [ ] No

[2015-09-29 16:19] pjaka opened #72 "Test issuer"
## Test
- test me

[2015-09-29 16:19] ghost opened #73 "test issue creation"
# Headline
### Another headline
- [x] Choice 1
- [ ] Choice 2

[2015-09-29 16:19] ssackrider opened #74 "test demo"
## testing issue demo
- [ ] highlight heading
- [x] add heading

[2015-09-29 16:19] ItaipuTechnology opened #75 "fsdafdadfsa"
# Aaardvark,Penguin and Rutabaga

[] try again, this time with fury

[2015-09-29 16:19] l26yan opened #76 "Test issue one"
### This is a test issue one
- [x] Item 1
- [ ] Item 2

[2015-09-29 16:19] d2mohapl opened #77 "Test_Issue"
thank you for the demo
- test 1
- test 2

[2015-09-29 16:19] ostruk opened #78 "alex issue"
- [x] **ch_e_ck**

[2015-09-29 16:19] jleaver opened #79 "Test test test test"
This is a test issue for GitHub training.

[2015-09-29 16:19] lisascullystein opened #80 "Test checkbox"
- [ ] Item 1
- [x] Item 2

[2015-09-29 16:19] sfeinholz opened #81 "STILL HARD TO READ YOUR SCREEN. MAKE BIGGER"

[2015-09-29 16:19] sbrinkmeyer commented on #52
oh look, i can.

i had the **dubm**

[2015-09-29 16:19] #52 closed, assigned to nobody

[2015-09-29 16:19] ketang1 opened #82 "Testing"
# Title here
- [ ] checkbox 1
- [ ] checkbox 2

[2015-09-29 16:19] varma-s opened #83 "test issue sv"
GitHub Dev 1 - test issue

[2015-09-29 16:19] gstanek opened #84 "test"
Hello

[2015-09-29 16:19] gseller opened #85 "Demo Issue for me"
issues issues issues

[2015-09-29 16:19] annavester opened #86 "New issue"
# Very important bug - asked and answered
- formatting list

_itallic_
#1 Comment there

[2015-09-29 16:19] ShawnShealy opened #87 "Cowabunga"
The quick brown fox jump over the _lazy_ **dog**.

Things to do:
- [ ] eat lunch
- [ ] brush teeth
- [x] go for a jog
- [ ] smile
- [ ] have a Coke and a smile

Hi @steveratay !

[2015-09-29 16:20] jmatracia opened #88 "Look syntax highlighting"
[code]

[2015-09-29 16:20] snigdhajain opened #89 "Needs done yesterday"
## Needs done _yesterday_
- [x] Code
- [ ] Test

[2015-09-29 16:20] markowalsh opened #90 "Not another issue"
# Relax
- [x] Yes
- [ ] No

[2015-09-29 16:20] ap120266 commented on #69
my comment

[2015-09-29 16:20] d2mohapl commented on #77
testcomment

[2015-09-29 16:20] rgmain commented on #66
bhahah

[2015-09-29 16:20] NickGe opened #91 "They Don't Think It Be Like It Is But It Do"
# They Don't Think It Be Like It Is But It Do
- [ ] :neckbeard:
- [ ] :sunglasses:
- [ ] :snowman:
- [ ] :bikini:
- [ ] :doughnut:

![](http://www.traemcneely.com/wp-content/uploads/2011/08/oscargamble.jpg)

[2015-09-29 16:20] satishsaley opened #92 "demo issue"
## Issue
- [x] one
- [x] two

[2015-09-29 16:20] baxziila opened #93 "My issue"
I joined late and don't know what I am doing... just yet

[2015-09-29 16:20] janmizzle opened #94 "jmtest"
- [x] 1
- [ ] 2

[2015-09-29 16:20] vl186000 opened #95 "This is a test issue"
# This is only a test issue
## If this is an actual issue
### then we need to do the following:
- take action 1
- take action 2
- take action 3

[2015-09-29 16:20] BFCIV opened #96 "BFCIV test issue"
### My testing issue

[2015-09-29 16:20] saranicole commented on #59
- `Hahahaha`
- `git push moon`

[2015-09-29 16:20] satishsaley commented on #92
done

[2015-09-29 16:20] ghost commented on #57
[link to google](https://google.com)

[2015-09-29 16:20] aaxxss opened #97 "testing, testing, 1-2-3"
The quick brown fox jump over the lazy pig.

[2015-09-29 16:20] PavolC opened #98 "testing123"
## Hello

[This is Google](https://google.com)

[2015-09-29 16:20] stevendluke opened #99 "yet another issue"
# Major issue

**bold** thats right
- [ ] check one

[2015-09-29 16:20] ItaipuTechnology commented on #75
oops..forgot how to create the list already!

[2015-09-29 16:20] nathanv opened #100 "Test Issue | Blue Jays Need to Win the 2015 World Series"
- [ ] Blue Jays win AL East
- [ ] Blue Jays win ALDS
- [ ] Blue Jays win World Series

[2015-09-29 16:20] dclarkrb commented on #73
**[] comment list**
**[] line 2**

[2015-09-29 16:20] jdtao opened #101 "Test"
This is a test
- [ ] item1
- [ ] item2

[2015-09-29 16:20] jdunnett opened #102 "My Issue"
# This is a test

_Test_

[UWaterloo](http://uwaterloo.ca)

_italic_
- [ ] Task 1
- [ ] Task 2

[2015-09-29 16:21] BHoward67 opened #103 "Issues are opportunities"
This is my first issue/opportunity.  meh

[2015-09-29 16:21] gkaluza opened #104 "Major issue"
Indeed it is! :fire:

[2015-09-29 16:21] sivaprakash-adari commented on #10
### This is the first line.
- [x] item 1
- [x] item 2

[2015-09-29 16:21] githubteacher commented on #31
[link to Google](https://google.com)

[2015-09-29 16:21] snigdhajain commented on #89
Comment

[2015-09-29 16:21] Ziliboba commented on #34
[link to google ](https://google.com)

[2015-09-29 16:21] heyword commented on #50
[link to Google example](https://google.com)

[2015-09-29 16:21] tnguyen03 opened #105 "Test issue test"
### This is a test issue
- test

[2015-09-29 16:21] l26yan commented on #76
[link to Google](https://google.com)

[2015-09-29 16:21] zeeshanSD commented on #64
Check!

[2015-09-29 16:21] ostruk commented on #78
[link](http://google.com)

[2015-09-29 16:21] hiteshm389 commented on #44
[link to google](https://google.com)

[2015-09-29 16:21] Ehhven opened #106 "test issue"
### test

[2015-09-29 16:21] sreedasari commented on #1
hi

[2015-09-29 16:21] ejt3820 opened #107 "Sample checkbox issue."
### Sample checkbox issue.

[] Item 1
[] Item 2

[link to Google!](http://google.com)

[2015-09-29 16:22] markowalsh commented on #90
_Don't tell me to relax!_

[2015-09-29 16:22] pdxtom opened #108 "demo issue"
1. problem 1
2. problem 2

[2015-09-29 16:22] karen-ng opened #109 "Demo issue #1"
This is my first issue
- [ ] Item 1
- [ ] Item 2

[2015-09-29 16:22] BHoward67 commented on #103
# test

[2015-09-29 16:22] jungao1999 opened #110 "testing issue"
testing

[2015-09-29 16:22] geonilpark commented on #41
test

[2015-09-29 16:22] Smarzulla opened #111 "My Issue"
# This is a title of My Issue

**Test**

[2015-09-29 16:22] rajpalgill opened #112 "google link"
[link to google](htttp://www.google.com)

[2015-09-29 16:22] sivaprakash-adari commented on #10
[link to Google](https://google.com)

[2015-09-29 16:22] satishsaley commented on #92
link to satishsaley.com

[2015-09-29 16:22] jns111 opened #113 "unable to create a label. Do not see little settings icon next to label"

[2015-09-29 16:22] Godfrey-Ntende opened #114 "Test issue"

[2015-09-29 16:23] sbrinkmeyer opened #115 "how to assign?"
sorry i was watching my fingers...
@saranicole how'd you do that?

[2015-09-29 16:23] pblanch commented on #70
[link to USAtoday](https://www.usatoday.com)

[2015-09-29 16:23] ZahidAKhan opened #116 "Hello from ZK"
Hi

[2015-09-29 16:23] #116 closed, assigned to nobody

[2015-09-29 16:23] CSAmador commented on #49
# siala

_You **can** combine them_
- [ ] @mentions, #refs, [links](), **formatting**, and <del>tags</del> supported
- [ ] list syntax required (any unordered or ordered list supported)
- [x] this is a complete item
- [ ] this is an incomplete item

[2015-09-29 16:23] milindrao opened #117 "The label text is disabled in my issue"
And there is no gear icon to create new labels.

[2015-09-29 16:23] varma-s commented on #83
**This is the first line**

[2015-09-29 16:23] jmatracia commented on #88
@BHoward67

[2015-09-29 16:23] ostruk commented on #78
@PavolC pavaaaaal

[2015-09-29 16:24] jmarlena opened #118 "Webcast Screen View is cut off!"
@githubteacher Can't see what you're doing well!
<img width="840" alt="screen shot 2015-09-29 at 9 23 10 am" src="https://cloud.githubusercontent.com/assets/6732600/10170832/bc51de9e-668b-11e5-8cbf-bda5a11e4bf8.png">

Is it like this for others?

[2015-09-29 16:24] varma-s commented on #83
[link to Google!](http://google.com)

[2015-09-29 16:24] githubteacher commented on #31
@jaw6 Your thoughts?

[2015-09-29 16:24] PavolC commented on #78
# errrr maahhh geerrrrd

[2015-09-29 16:24] NickGe commented on #91
@PavolC It do???

[2015-09-29 16:24] jaw6 commented on #31
Looks good to me so far!

[2015-09-29 16:24] ajmc commented on #45
@nathanv hallo!

[2015-09-29 16:24] daijing01 commented on #26
@jamie-cyber1 saw your name

[2015-09-29 16:25] kcentofante opened #119 "Creating a new Issue - practice"
My first issue on GIT... :)

[2015-09-29 16:25] aabognah commented on #33
@githubteacher

[2015-09-29 16:25] kevinscully opened #120 "testing, testing"
- [x] @mikebuw, #refs, [links](), **formatting**, and <del>tags</del> supported
- [x] list syntax required (any unordered or ordered list supported)
- [x] this is a complete item
- [ ] this is an incomplete item

[2015-09-29 16:25] kpaxman commented on #61
Actually, I have the answer. What I need is the question.

[2015-09-29 16:25] NickGe commented on #91
:squirrel:

[2015-09-29 16:25] huynhmark opened #121 "Does @mention support groups"

[2015-09-29 16:25] bdokku commented on #1
hi

[2015-09-29 16:25] rgmain commented on #5
@scottfelt whatup

[2015-09-29 16:25] gkaluza commented on #104
It may be either:
- [ ] A
- [ ] B
- [ ] C

[2015-09-29 16:25] dlinstruth commented on #12
@ssackrider  hello

[2015-09-29 16:25] bnorrish27 opened #122 "test issue"
Testing my issue. @schrags

[2015-09-29 16:26] aabognah commented on #33
if I right a comment I will be resubscribed?
@githubteacher

[2015-09-29 16:26] sreedasari opened #123 "my issue"
how to check in

[2015-09-29 16:26] saranicole commented on #115
If you're logged in there's an Assign button on the right above the Notifications button

[2015-09-29 16:26] jmbalasalle opened #124 "Is there a way to be notified for all new commits or pushes?"

[2015-09-29 16:26] ItaipuTechnology commented on #75
@itaiputechnology test test

[2015-09-29 16:26] scottfelt commented on #66
@rgmain Hey.  Are you an expert yet?

[2015-09-29 16:27] jaw6 commented on #118
@jmarlena looks like you're at 100% Zoom, and @patrickmckenna's screen is a little too large for your display. You can zoom out to see the whole screen: click on the zoom button and select 'Scale to fit'

<img width="175" alt="screen shot 2015-09-29 at 11 25 41 am" src="https://cloud.githubusercontent.com/assets/2077/10170932/f1e30a4a-669c-11e5-87e1-6c3c7dcd9a11.png">

[2015-09-29 16:27] saranicole commented on #115
Click the gear

[2015-09-29 16:27] gmesko commented on #31
@bnorrish27 this is a test

[2015-09-29 16:27] saranicole commented on #115
It's not obviously a button

[2015-09-29 16:27] hl-iqmetrix commented on #1
hi

[2015-09-29 16:27] d2mohapl commented on #77
@NickGe can you comment on this issue?

[2015-09-29 16:27] ghost opened #125 "Does unwatch also turn off all notifications at issue or pull level?"

[2015-09-29 16:28] jmarlena commented on #118
Thanks!

[2015-09-29 16:28] #19 closed, assigned to nobody

[2015-09-29 16:28] joshijee opened #126 "I already attended the github for everyone class"
Should I wait until this gets interesting for me?

[2015-09-29 16:28] jaw6 commented on #113
@jns111 I'll double-check that you're set up as a repository collaborator -- anyone can create a new issue, but only collaborators can edit/create labels (so only collaborators see the "gear" icon)

[2015-09-29 16:28] nathanv commented on #46
I'm interested in this too.

[2015-09-29 16:29] jns111 opened #127 "Question:- Can't we create a label if we do not have write access to the repository? If not, how does one get a write access?"

[2015-09-29 16:29] Chuckbert opened #128 "I have issues"
# Golly!
- a
- b
- c

[2015-09-29 16:29] cccmpuser opened #129 "test Issue"

[2015-09-29 16:29] CSAmador commented on #49
@OluOyedipe what's up? just practicing...

[2015-09-29 16:30] rajkumar79 opened #130 "Test Hello Issue"

[2015-09-29 16:30] #90 closed, assigned to markowalsh

[2015-09-29 16:30] rgmain commented on #66
@scottfelt i guess not

[2015-09-29 16:30] bhenton123 commented on #15
comment on my issue

[2015-09-29 16:30] lkmorlan opened #131 "Test issue"
@kpaxman Great training!
- [x] Foo
- [x] Bar

[2015-09-29 16:30] Gurinder-Gill opened #132 "Gill Issue"
## Test Check Box
- List2
- List2

[2015-09-29 16:30] jaw6 commented on #113
@jns111 you were not previously set as a collaborator, but you are now -- you may need to refresh your screen, but should then see the 'gear' icon to the right of Labels.

<img width="221" alt="screen shot 2015-09-29 at 11 30 13 am" src="https://cloud.githubusercontent.com/assets/2077/10171021/78015618-669d-11e5-87a9-aac14ff0c24d.png">

[2015-09-29 16:30] kukkadav opened #133 "test notifications"
@jaw6 testing notification
Hi

[2015-09-29 16:30] wesleypetrowski-iq commented on #1
Hello!

[2015-09-29 16:30] djnitram commented on #114
just checking

[2015-09-29 16:30] jdunnett commented on #1
Hello Everyone!

[2015-09-29 16:30] KarenMiddleton opened #134 "Practice Issue"

[2015-09-29 16:30] sbrinkmeyer commented on #1
i'm a need the thing also co that i can collabortate with ya'lls

[2015-09-29 16:30] yfzhaosteve commented on #1
Hello!

[2015-09-29 16:30] bhenton123 commented on #1
comment

[2015-09-29 16:30] jns111 commented on #1
hi

[2015-09-29 16:30] Ziliboba commented on #1
comment!!

[2015-09-29 16:30] chvrsi commented on #120
hi (just checking that i'm a collaborator)

[2015-09-29 16:31] rajkumar79 commented on #130
@jaw6

[2015-09-29 16:31] joshijee commented on #1
I am late

[2015-09-29 16:31] rgmain commented on #1
hi

[2015-09-29 16:31] christybermanmxr opened #135 "Just a thought"
Thank you for doing this webinar. I've been to the others and even though class is just starting, I've already learned several things.

[2015-09-29 16:31] BFCIV commented on #96
@rgmain did Roy see this?

[2015-09-29 16:31] PinoEire commented on #115
:)

[2015-09-29 16:31] jdtao commented on #1
Hi

[2015-09-29 16:31] bstrzinar commented on #31
Testing.

[2015-09-29 16:31] jdunnett opened #136 "At Test"
@jeffvoskamp @cvoutsis

[2015-09-29 16:31] geonilpark commented on #1
Hello!

[2015-09-29 16:31] ToshForrester opened #137 "Markdown test"
~~STRIKE~~

[2015-09-29 16:31] baxziila commented on #1
comment

[2015-09-29 16:31] cherrybee commented on #1
Hello world

[2015-09-29 16:31] milindrao commented on #1
Ahh.  Instead of commenting on this issue, I added a new issue.

[2015-09-29 16:31] TonyL-teradata commented on #1
hi

[2015-09-29 16:31] aldins commented on #1
let me in

[2015-09-29 16:31] rtauber92054 commented on #1
Came in late Thanks for going back

[2015-09-29 16:31] WeitiHuang commented on #1
Hello from WH!

[2015-09-29 16:31] gdmalet opened #138 "Test issue"
# Foo

bar.

[2015-09-29 16:31] jcbustamante2015 commented on #46
@githubteacher - your thoughts?

[2015-09-29 16:31] lkmorlan commented on #131
#50

[2015-09-29 16:31] sbrinkmeyer commented on #115
i'm logged in, but i'm apparently not part of the peoples that get gears ... none of my items are geared :), i wasn't a co lab er tator, thanks @saranicole

[2015-09-29 16:31] ayeladandi opened #139 "test"
test

[2015-09-29 16:31] pdxtom commented on #108
This is similar to #31

[2015-09-29 16:31] markw-iqmetrix commented on #31
_testing_

[2015-09-29 16:31] jmatracia commented on #88
This #29

[2015-09-29 16:31] githubteacher commented on #31
This references #12

[2015-09-29 16:31] sivaprakash-adari commented on #10
This references #31

[2015-09-29 16:31] ghost commented on #73
This references #10

[2015-09-29 16:31] jmbalasalle opened #140 "What's the point of issues?"
Can/should they be used as a bug-tracking tool?

[2015-09-29 16:31] rajpalgill opened #141 "t"
this is ref #136

[2015-09-29 16:31] jdholdren opened #142 "Markdown so dank"
[code]

[2015-09-29 16:31] kluster35 commented on #54
This references #137

[2015-09-29 16:32] jdunnett commented on #136
This references #73

[2015-09-29 16:32] hl-iqmetrix commented on #31
This references #112

[2015-09-29 16:32] ms1217 opened #143 "ms1217 issue create - test"
This is my issue.  Not enough.

[2015-09-29 16:32] jaw6 commented on #127
Answered in #113 -- you weren't set as a collaborator, but are now.

[2015-09-29 16:32] #127 closed, assigned to nobody

[2015-09-29 16:32] daijing01 commented on #26
This reference #58

[2015-09-29 16:32] satishsaley commented on #92
#12

[2015-09-29 16:32] zeeshanSD commented on #1
Hello again

[2015-09-29 16:32] sfeinholz opened #144 "Hi i am here"

[2015-09-29 16:32] snigdhajain commented on #89
reference #31

[2015-09-29 16:32] CSAmador commented on #49
This #141

[2015-09-29 16:32] jns111 commented on #127
Got it. Thanks jaw6

[2015-09-29 16:32] aaxxss commented on #1
Hello

[2015-09-29 16:32] PavolC commented on #78
also #98

[2015-09-29 16:32] rgmain commented on #96
@BFCIV no

[2015-09-29 16:32] OluOyedipe opened #145 "will you be covering the api?"
- [ ] what are the requirements? Is admin access needed?

[2015-09-29 16:32] ghost commented on #57
This references #8

[2015-09-29 16:32] aabognah commented on #33
#31

[2015-09-29 16:32] nathanv commented on #115
@sbrinkmeyer you must not be a collaborator yet. Comment on #1 and ping @jaw6  you will get permissions.

[2015-09-29 16:32] NickGe commented on #31
### Issue 91 or squirrels?
- [x] :squirrel:
- [ ] #91

[2015-09-29 16:32] gdmalet commented on #138
Link to #1

[2015-09-29 16:32] ghost commented on #1
Late joining so thanks for letting me know how to get write access

[2015-09-29 16:32] rajkumar79 commented on #130
references #143

[2015-09-29 16:32] ShawnShealy commented on #87
The initial issue is #1.

[2015-09-29 16:33] d2mohapl opened #146 "test feedback label"
Hello @NickGe
#77 reference
- test1

[link to Google!](http://google.com)

[2015-09-29 16:33] ssackrider commented on #12
back at ya - hello

[2015-09-29 16:33] PavolC commented on #98
also #78

[2015-09-29 16:33] gki7138 opened #147 "lunch selection"
- [ ] pizza
- [ ] sushi
- [x] pizza

[2015-09-29 16:33] saranicole commented on #68
`function start {
  power_on
}`

[2015-09-29 16:33] phongta opened #148 "How to remove a old issues?"
## Thanks!

[2015-09-29 16:33] ejt3820 commented on #1
Comment for write access.

[2015-09-29 16:33] dclarkrb commented on #1
hello

[2015-09-29 16:33] dl185011 commented on #1
hello

[2015-09-29 16:33] hiteshm389 commented on #44
#31
Testing

[2015-09-29 16:34] saranicole commented on #148
I would click:
`Close issue`

[2015-09-29 16:34] tgandrews89 opened #149 "test"
# Test

_TEST_
_test_
- [ ] test
- test1
- test2

| TableTest | testItem |
| --- | --- |
| test | test |

[2015-09-29 16:35] phongta commented on #148
Thanks. Found it.

[2015-09-29 16:35] #148 closed, assigned to nobody

[2015-09-29 16:35] WoodyTheWoodman commented on #65
#62

[2015-09-29 16:36] dclarkrb commented on #1
hello

[2015-09-29 16:36] vb186017 opened #150 "vbtest"
Test issue Vardhan Bhavsar

[2015-09-29 16:37] milindrao commented on #117
This is the same problem as #113.  Now that I refreshed the screen, I see I'm a collaborator.  I can see the gear now

[2015-09-29 16:38] ghost opened #151 "Tá an lá go brea in Eirinn"
An bhfuil Gaeilge ag aon duine?

[2015-09-29 16:38] dclarkrb opened #152 "New issue"
**bold**

[2015-09-29 16:38] skchandon commented on #1
hi

[2015-09-29 16:38] jcbustamante2015 opened #153 "Best Practices for Branch Management in GIT"
@githubteacher - Do you have a link of best practices of the Do's and Don'ts of how we should be using branches in GIT? One of the most difficult things in my experience is having a killer branching strategy for managing code (ie having a Master for Releases, and a Development branch for managing changes from feature sets and bug fixes). I would like to know what your thoughts are.

[2015-09-29 16:38] milindrao commented on #117
Test comment that I want to delete later in the time line

[2015-09-29 16:39] milindrao commented on #117
I want to now delete the previous comment and see what happens

[2015-09-29 16:39] vb186017 commented on #150
@jungao1999 Please provide comments on this Issue.

[2015-09-29 16:39] LynnRichardson commented on #1
hey

[2015-09-29 16:39] jungao1999 commented on #110
@vb186017 testing

[2015-09-29 16:39] jaw6 commented on #140
Issues can be used to track bugs -- that's a common usage, in fact -- or features, discussions, ideas, etc.

[2015-09-29 16:39] #140 closed, assigned to nobody

[2015-09-29 16:40] ghost commented on #114
Are you having an issue Sir?

[2015-09-29 16:40] chvrsi commented on #136
I changed usernames

[2015-09-29 16:41] iivvyy commented on #1
hello

[2015-09-29 16:41] jaw6 commented on #148
Exactly right: we typically don't delete issues, we use Closed to signify issues that are no longer an active concern, and additionally use labels to help explain. (For example, in a software project, we might use labels like `wont-fix` and `duplicate` to help explain why a particular issue has been closed.)

[2015-09-29 16:41] sbrinkmeyer opened #154 "will you cover the command line as well?"

[2015-09-29 16:41] #118 closed, assigned to githubteacher

[2015-09-29 16:42] #93 closed, assigned to nobody

[2015-09-29 16:42] rafischer opened #155 "Write Access"
Can you give me write access to repository?

[2015-09-29 16:42] nathanv commented on #155
you must not be a collaborator yet. Comment on #1 and ping @jaw6 you will get permissions.

[2015-09-29 16:42] satishsaley opened #156 "difference between cloning and branching?"

[2015-09-29 16:42] ItaipuTechnology commented on #1
qwerqwreqwerqer

[2015-09-29 16:42] jaw6 commented on #154
Yes! We'll spend a good deal of class using `git` at the command line!

[2015-09-29 16:42] #154 closed, assigned to nobody

[2015-09-29 16:43] rafischer commented on #1
@jaw6    Need to be a collaborator

[2015-09-29 16:45] snowmya commented on #1
hello

[2015-09-29 16:45] rajkumar79 commented on #1
Hello

[2015-09-29 16:45] jaw6 commented on #155
Working on it, @rafischer !

[2015-09-29 16:45] ms1217 commented on #1
one more hi

[2015-09-29 16:46] LynnRichardson commented on #1
Hello

[2015-09-29 16:46] rajkumar79 commented on #1
@jaw6 Need to be a collaborator

[2015-09-29 16:46] rajkumar79 commented on #1
@jaw6 Need to be a collaborator

[2015-09-29 16:46] saranicole commented on #148
Awesome

[2015-09-29 16:47] SangySantharam opened #157 "Please repeat how to crete a new file?"

[2015-09-29 16:48] Sowmya-Dhanasekaran commented on #1
Hi, need write access

[2015-09-29 16:49] jaw6 commented on #155
@rafischer should be all set now!

[2015-09-29 16:49] #155 closed, assigned to nobody

[2015-09-29 16:50] hs186016 commented on #1
Hi...

[2015-09-29 16:52] jaw6 commented on #157
@SangySantharam Click the blue '+' icon near the center of the screen:

![screen shot 2015-09-29 at 11 50 30 am-1](https://cloud.githubusercontent.com/assets/2077/10171602/8e331f90-66a0-11e5-8d6a-375fa4d49a8a.jpg)

[2015-09-29 16:52] #157 closed, assigned to nobody

[2015-09-29 16:52] xiaoheng-wu opened #314 "hi"

[2015-09-29 16:54] jdtao commented on #31
test #323

[2015-09-29 16:54] xiaoheng-wu commented on #1
hello

[2015-09-29 16:55] ericcurtin commented on #156
@satishsaley good question +1

[2015-09-29 16:56] sbrinkmeyer opened #327 "is the bridge (phone) on?"
i want to put you on speaker phones here!
@githubteacher we tried to dial in for our phones and were not able to dial in to your conference phone number

[2015-09-29 16:57] milindrao opened #329 "How do I find all the people who are developing?"
I see only 5 people in the @ mentions.  How would I be able to get a list of all the developers?  e.g. all the participants in this webinar.

[2015-09-29 16:58] indijanc opened #331 "Merging"
You'll probably touch this going forward, but I'll ask anway:

Could you merge changes on the master to your private branch and at a later point merge your changes back to master? Any issues there? Thanks.

[2015-09-29 16:58] ericcurtin commented on #46
Not the official answer from the teacher, but GitLab is an open-source project that basically copied GitHub and it's features. GitHub is closed source. Think of it this way GitHub is Unix (the original), GitLab is Linux (the open-source copy).

[2015-09-29 16:58] kelshiker commented on #1
I'm in.

[2015-09-29 16:58] sfeinholz opened #333 "i cannot create a branch!!"

[2015-09-29 16:59] #13 closed, assigned to nobody

[2015-09-29 16:59] jmbalasalle opened #335 "I need to step away for a bit - please don't drop me."
Thanks.

[2015-09-29 17:00] #17 closed, assigned to nobody

[2015-09-29 17:00] #41 closed, assigned to nobody

[2015-09-29 17:00] ericcurtin opened #337 "How many of GitHubs features can be accessed via command-line?"
How many of GitHubs features can be accessed via command-line on Linux?

Us developers love the command line :)

Might be easier to say what you can't do via command-line.

[2015-09-29 17:00] pblanch opened #338 "Some of cannot create branches - can anyone help address this?"

[2015-09-29 17:00] saranicole commented on #333
Click the Branch - master button then type a branch name and hit enter

[2015-09-29 17:01] #91 closed, assigned to PavolC

[2015-09-29 17:01] #108 closed, assigned to nobody

[2015-09-29 17:01] sfeinholz commented on #333
no option to create

[2015-09-29 17:01] cbrownrt opened #340 "Check boxes in issues, etc."
Is there a way to restrict who can check a particular box, or track who checked it?

[2015-09-29 17:02] sfeinholz commented on #333
tried that, I only get an option to switch branches

[2015-09-29 17:02] patrickmckenna commented on #115
Thanks for the assist, @nathanv!

[2015-09-29 17:02] #115 closed, assigned to saranicole

[2015-09-29 17:02] saranicole commented on #151
Níl ach ní mór dúinn Google aistriú a chabhraíonn

[2015-09-29 17:02] sfeinholz commented on #333
I am assuming I am a collaborator because I can open issues

[2015-09-29 17:03] sbrinkmeyer commented on #333
@sfeinholz you need to comment on the issue #1 to become a collabortator?

you are a colab if you can assign tags and stuffs

[2015-09-29 17:03] patrickmckenna commented on #121
Yes, when working on a repository owned by an [organization](https://help.github.com/articles/about-organizations/).

[2015-09-29 17:03] #121 closed, assigned to githubteacher

[2015-09-29 17:03] ln185008 commented on #1
HI

[2015-09-29 17:04] saranicole commented on #81
Squint harder

[2015-09-29 17:04] patrickmckenna commented on #145
@OluOyedipe Unfortunately we won't have time for that in this class, but our [API documentation](https://developer.github.com/v3/) is great. Most endpoints will require authentication.

[2015-09-29 17:04] #145 closed, assigned to nobody

[2015-09-29 17:04] sfeinholz opened #342 "hello"

[2015-09-29 17:04] jaw6 commented on #338
Hi @pblanch -- you were not a collaborator, because you did not post a comment on issue 1. I've added you as a collaborator now. There's detailed instructions on how to create a branch here: https://help.github.com/articles/creating-and-deleting-branches-within-your-repository/

[2015-09-29 17:04] #338 closed, assigned to nobody

[2015-09-29 17:05] sfeinholz commented on #333
i did comment; any way to check that I am a collaborator?
yes you are the collaborator now, you have a collaborator button :)

[2015-09-29 17:06] jaw6 commented on #337
We'll cover the command line features of Git shortly. Almost everything in GitHub can be done via command line. We start with the browser to help focus on the social aspects of GitHub -- using issues and pull requests to collaborate. We'll move to the command line soon!

[2015-09-29 17:06] #337 closed, assigned to nobody

[2015-09-29 17:06] kukkadav commented on #1
Hi All

[2015-09-29 17:07] ItaipuTechnology opened #343 "How to add new file and commit"
please get me going again on this. I had no access when you were demoing.tx

[2015-09-29 17:07] l26yan commented on #1
Hi

[2015-09-29 17:07] sfeinholz commented on #1
hi i am commenting

[2015-09-29 17:07] maryfries opened #344 "Pre-Class Questions"
The following is a message that I sent to training@github.com.

Hi!

I’m looking forward to tomorrow’s developer’s workshop. I’ve been using GitHub for about 9 months, and we’ve had some rough times with it, so I’m looking to understand the system better so that we can recover from losses more quickly.

Essentially, a teammate (who hadn’t synced in a while) pushed up some changes together with out

[2015-09-29 17:07] iivvyy opened #345 "hello"

[2015-09-29 17:08] jaw6 commented on #340
@cbrownrt that's a good question: for better or worse, _any_ repository collaborator can check a checkbox in an issue. In a large, chaotic repository like ours today, that can sometimes be a bit of a problem, but, in my experience, it's rarely an issue in practice, as your team members aren't usually 100+ random developers in a webinar. :wink:

[2015-09-29 17:08] #340 closed, assigned to nobody

[2015-09-29 17:08] sfeinholz opened #346 "testing if i am a collaborator"

[2015-09-29 17:08] ZahidAKhan opened #347 "ZK"
hi

[2015-09-29 17:08] ZahidAKhan commented on #347
sdssd

[2015-09-29 17:08] #347 closed, assigned to nobody

[2015-09-29 17:09] dafisher59 commented on #1
Trying to get added here

[2015-09-29 17:09] kcentofante opened #348 "Process for adding resources to the repository"
You have an awesome process for adding to the repository (commenting on Issue #1)
Is this something publicly available?
Thanks!
Kristin

[2015-09-29 17:09] kelshiker commented on #1
test

[2015-09-29 17:09] jaw6 commented on #331
@indijanc we will cover merging, but: there's no problem with merging changes from `master` back into a development branch, or vice-versa. It's rare to see problems with this, but some developers will find it "messy". In practice, it's rarely a concern.

[2015-09-29 17:09] #331 closed, assigned to nobody

[2015-09-29 17:09] pblanch commented on #1
I can comment but still cannot create branches.

[2015-09-29 17:09] sfeinholz commented on #346
i am still not a collaborator and I did go and comment

[2015-09-29 17:09] bdokku commented on #1
hi

[2015-09-29 17:09] jns111 opened #350 "I dont see .md file from my PR in "master" branch. Does that mean my PR didnt go through?"

[2015-09-29 17:09] rtauber92054 commented on #348
Hi Kristin

[2015-09-29 17:09] saranicole commented on #343
Once you create a new branch, switch to the branch and you'll see a plus button next to the branch name.  Click the plus button and it will create a new file you can add text in.  You'll have to enter a file name at the top before you can commit it.

[2015-09-29 17:09] rajkumar79 opened #351 "How can you provide write access ?"

[2015-09-29 17:09] bladerchick commented on #1
comment

[2015-09-29 17:10] shraykay commented on #346
test

[2015-09-29 17:10] brian-rickman commented on #1
testing

[2015-09-29 17:10] KarenMiddleton commented on #1
I need access to create branch

[2015-09-29 17:10] jaw6 commented on #351
@rajkumar79 In the repository settings ("gear" icon), select "Collaborators" from the menu on the left.

[2015-09-29 17:10] #351 closed, assigned to nobody

[2015-09-29 17:11] ebremner17 opened #353 "Email Notifications"
Still getting all the email notifications for the first comment and they are still coming in far too many.  Have the unwatch on.

[2015-09-29 17:11] jaw6 commented on #350
@jns111 I'll investigate.

[2015-09-29 17:11] sfeinholz opened #354 "I did go and "comment" but I am still not a collaborator; and cannot create a branch. Why??"

[2015-09-29 17:11] daijing01 commented on #346
test

[2015-09-29 17:11] kukkadav commented on #1
Please add me as collaborator

[2015-09-29 17:12] jaw6 commented on #350
@jns111 I left a comment on the PR, but it looks like your pull request is #278 and it is open and not yet merged, that's why you aren't seeing the `.md` file in the repository yet.

[2015-09-29 17:12] #350 closed, assigned to nobody

[2015-09-29 17:13] ItaipuTechnology commented on #343
Found it.thanks!

[2015-09-29 17:13] cbrownrt commented on #340
So can you track who checked the box(es)?

[2015-09-29 17:13] PinoEire commented on #151
Creidim go bhfuil náid:)

[2015-09-29 17:14] saranicole commented on #346
I can assign this issue to you so you must be a collaborator

[2015-09-29 17:14] jaw6 commented on #353
@ebremner17 you might want to unsubscribe from that thread - you can click the "Unsubscribe" button in https://github.com/githubteacher/github-for-developers-sept-2015/issues/1, on the right side, below "Labels"

![8 please comment here issue 1 githubteacher_github-for-developers-sept-2015](https://cloud.githubusercontent.com/assets/2077/10172183/9cab432e-66a3-11e5-8564-ab452ea189f0.jpg)

[2015-09-29 17:14] #353 closed, assigned to nobody

[2015-09-29 17:15] jaw6 commented on #354
@sfeinholz looks like there was a little lag, I see you as being a collaborator now. Can you try to create a branch again now?

[2015-09-29 17:15] #354 closed, assigned to nobody

[2015-09-29 17:15] mv2015 commented on #1
hello

[2015-09-29 17:16] jcbustamante2015 commented on #46
@ericcurtin - thanks!

[2015-09-29 17:16] Hesperos commented on #1
my comment

[2015-09-29 17:16] saranicole commented on #151
Ár caillteanas ní mise  ;)

[2015-09-29 17:17] ts122492 opened #359 "I am here!"
hello

[2015-09-29 17:17] jaw6 commented on #344
Hi @maryfries -- we saw your :email: come in yesterday, but didn't have time to send a reply before today's class. We are planning to discuss this in class -- but we might not have all your questions answered until the end of tomorrow's class. Either way, I'll follow up with an email reply as well. Thanks for your questions!

[2015-09-29 17:18] lakshgupta opened #360 "change file again after creating a pull request"
is it possible to change the file again after creating a pull request; while in between the discussion.

[2015-09-29 17:18] sfeinholz commented on #346
took them a long time to make me one

[2015-09-29 17:19] kcentofante commented on #348
Hi @rtauber92054 !!

[2015-09-29 17:22] ms1217 commented on #143
This am new comment it should be different from the above

[2015-09-29 17:24] Ziliboba commented on #360
:trollface:

[2015-09-29 17:25] sbrinkmeyer opened #368 "when you arent a collaborator, you cant add labels or stuffs"
i was missing that connection, so if we haven't commented on that #1 you can not change labels and stuffs (you are missing the gear icon on things)

[2015-09-29 17:25] hs186016 commented on #360
:+1:

[2015-09-29 17:25] sweetfisheric commented on #360
:monkey_face:

[2015-09-29 17:26] abhibond opened #369 "How to do a command line pull request"
How do we pull the code from the pull req branch, make changes and commit back to be discussed in the pull request?

[2015-09-29 17:27] ghost commented on #151
Tá google translate daimsearach/dangerous :+1:

[2015-09-29 17:27] jaw6 commented on #340
@cbrownrt not currently, but it's a commonly requested feature enhancement.

[2015-09-29 17:28] kaiyuan01 opened #373 "Need more time to review changes?"
Compared with other VCS such as SVN, users may need more time to review/commit to master if many developers work on one file without knowing others working on it..

[2015-09-29 17:28] baxziila commented on #156
ditto - my company is cloning rather than branching off of already existing branches to jointly development in a branch. Is this practice ever recommended?

[2015-09-29 17:28] OluOyedipe opened #375 "are pull request trying to also replace design documentation?"

[2015-09-29 17:29] ghost commented on #359
Me too

[2015-09-29 17:30] jaw6 commented on #360
@lakshgupta @Ziliboba @hs186016 @sweetfisheric -- short answer: yes, it is possible. :smile: When you add new commits to a branch, they will be included in any **open** pull requests associated with that branch. Once the pull request is closed (either successfully merged or abandoned), we stop associating new commits with that pull request.

[2015-09-29 17:30] #360 closed, assigned to nobody

[2015-09-29 17:30] ericcurtin opened #377 "Can you set some sort of a deadline on pull requests?"
Assuming you are using a model where you pull request has to be reviewed/signed-off by someone else. Is there a deadline you can set on a pull request so it doesn't stay in limbo forever?

[2015-09-29 17:30] rtauber92054 opened #379 "Can you enforce 2 person pull and commit"
You mentioned that the person who creates pull request should not commit.
Can that be enforced in any way?

[2015-09-29 17:30] iStryker opened #380 "can you discuss the best practice of creating naming a branch"
What is the best practice for naming a branch

Correct me if I am wrong
It is best to create an issue about X.  Create a branch with the issue # and small description.

[2015-09-29 17:32] jaw6 commented on #348
@kcentofante @rtauber92054 -- thanks! in my experience, developers usually know their collaborating team members a little more formally than we do with students in our large webinars, but... in fact, _all_ of the materials we use in class are available as public, open source repositories, right here on GitHub:
- Scripts are: https://github.com/github/training-utils
- Slides are: https://github.com

[2015-09-29 17:32] #348 closed, assigned to nobody

[2015-09-29 17:33] schrags opened #383 "Is there an official way to mark a PR as ready to merge?"
... or do you just signify the changes are ready based solely on the comments.

[2015-09-29 17:34] aabognah opened #385 "How to stop notification when I create new issue, pull request, or merge?"

[2015-09-29 17:34] bcmatz opened #386 "nevermind"
cancel this comment.

[2015-09-29 17:34] #76 closed, assigned to l26yan

[2015-09-29 17:34] #7 closed, assigned to nobody

[2015-09-29 17:35] CSAmador opened #388 "When can i merge."
It keeps saying to try again...

[2015-09-29 17:35] maryfries commented on #344
Thanks! :)

[2015-09-29 17:35] snigdhajain opened #390 "Not able to merge. Closed with unmerged commits."

[2015-09-29 17:35] jaw6 commented on #380
@iStryker: typically, we recommend giving your branch a name that meaningfully describes the feature you're working on. "Meaningfully" can be very context-dependent, though: in some environments, it might be best to name branches after specific bugs or stories (eg, `bug123` or `storyIDHERE`), but I, personally, find that a little too abstract. I tend to prefer more descriptive names, like `paypal_

[2015-09-29 17:36] SangySantharam opened #392 "Please repeat how to merge or close PR?"

[2015-09-29 17:36] ghost commented on #388
I got there eventually...I assume it's because everyone was merging from thier branch at the same time

[2015-09-29 17:36] githubteacher opened #393 "Found a bug"
My bug report.

[2015-09-29 17:36] geonilpark opened #394 "Found my bug"
Found a bug

[2015-09-29 17:37] #386 closed, assigned to nobody

[2015-09-29 17:37] indijanc opened #395 "closing branch"
How do I close my branch after I've merged it? I'm no longer on the pull request page.

[2015-09-29 17:37] CSAmador commented on #388
ok. it finally went through

[2015-09-29 17:37] #388 closed, assigned to nobody

[2015-09-29 17:38] jaw6 commented on #377
@ericcurtin it's not something we have built into GitHub, but it's not something I often see as a problem -- typically, developers are eager to get their changes into production. One workflow that seems to work well is to assign the pull request to the reviewer, who then uses the search/filter system to show open pull requests assigned to themselves to review.

You could use our [Repository Webhoo

[2015-09-29 17:38] #377 closed, assigned to nobody

[2015-09-29 17:39] gstanek opened #397 "Why delete a branch after merging?"
What are the benefits/drawbacks?

[2015-09-29 17:39] snigdhajain opened #398 "Isn't it bad practice to close issue without verifying"

[2015-09-29 17:40] jaw6 commented on #375
@OluOyedipe it's not really our intent to replace design documentation, but it does sometimes work out that way, in practice. The pull request persists as a document in the repository, recording _why_ a specific decision played out the way it did. Again, it's not :100:% intentional, but it does often work out, in practice, that a separate design document isn't totally necessary.

[2015-09-29 17:40] #375 closed, assigned to nobody

[2015-09-29 17:40] milindrao opened #400 "Demonstrate conflicts of changes in 2 branches for same file"
Can you demonstrate conflicts of changes in 2 branches for the same file when doing a merge to master from the 2 branches

[2015-09-29 17:41] snigdhajain commented on #390
#275

[2015-09-29 17:41] #342 closed, assigned to nobody

[2015-09-29 17:42] indijanc commented on #395
Sorry, that's delete, not close

[2015-09-29 17:42] #394 closed, assigned to nobody

[2015-09-29 17:42] #131 closed, assigned to nobody

[2015-09-29 17:42] #393 closed, assigned to nobody

[2015-09-29 17:42] jaw6 commented on #397
@gpstanek a branch is a lightweight, human-friendly label for a particular commit (eg, `abc123`). Once a pull request has merged, and that commit has been merged into the `master` branch, there's little value in preserving the human-friendly label pointing to `abc123`. The main drawback is _clutter_ -- the more branches remain open, the harder it is to spot actual work in progress in the repositor

[2015-09-29 17:42] #397 closed, assigned to nobody

[2015-09-29 17:43] jaw6 commented on #395
@indijanc looks like [this](https://github.com/githubteacher/github-for-developers-sept-2015/pull/219) is your pull request -- you should be able to click the `Delete Branch` button there.

[2015-09-29 17:43] #395 closed, assigned to nobody

[2015-09-29 17:43] kevinman42 opened #403 "Can branch names be reused after branches are deleted?"

[2015-09-29 17:44] sbrinkmeyer commented on #369
:+1:

[2015-09-29 17:44] milindrao opened #405 "What happens when you revert a merge if subsequent merges have been made to master"
Timeline
 b1 -> master
 b2 -> master
 b3 -> master.
Now we find a mistake in b1, and want to revert it.  But b2 and b3 actually used the changes made in b1

[2015-09-29 17:45] gstanek commented on #397
:+1:  thanks!

[2015-09-29 17:45] jaw6 commented on #392
@SangySantharam you should see a green button `Merge pull request`. Clicking that will toggle the screen to **confirm** the merge: click the `Confirm merge` button if you're sure you want to merge the PR. Merging will automatically close the pull request, but you'll want to make sure you click `Delete branch`

[2015-09-29 17:45] #392 closed, assigned to nobody

[2015-09-29 17:45] noahuci opened #407 "how do i delete my branch? The pull request is already closed."

[2015-09-29 17:45] snigdhajain commented on #398
The issue gets closed automatically when you reference it on a fix. If the issue is abut, it should be verified by qa?

[2015-09-29 17:46] snigdhajain commented on #398
if issue is a bug*

[2015-09-29 17:46] jns111 opened #408 "How do branch operations on github.com compare with git (plugin) support in IDEs like eclipse, intellij? Which option is more preferable in your opinion?"

[2015-09-29 17:46] sbrinkmeyer commented on #327
it is on and we are good.

[2015-09-29 17:46] indijanc commented on #395
Thanks, just didn't find the pull request after it's been closed. Found it now.

[2015-09-29 17:46] rajkumar79 opened #409 "What's the grain of a github repositories?"
What's the grain of github repositories? How nested they can be?

Are there any best practices of naming repositories?

Is it a good practice to have the following in a repository name.
1) Public vs Private Artifacts
2)Version Numbers.

[2015-09-29 17:46] jaw6 commented on #403
@kevinman42 yes, branch names can be reused. You can't have two branches with the same name at the same time, but you can re-use names of deleted branches freely.

[2015-09-29 17:46] #403 closed, assigned to nobody

[2015-09-29 17:46] sbrinkmeyer commented on #153
:+1:

[2015-09-29 17:46] jcbustamante2015 opened #410 "Branch Life in terms of Agile"
Based on what you said, would you say it is a good practice to have a branch per user story in a sprint? Or would you expect to have a branch per release? Sounds like we should have a branch be as focused as possible and be based on changes in a story versus the changes in a release. Thoughts?

[2015-09-29 17:47] sbrinkmeyer commented on #156
:+1:

[2015-09-29 17:47] #398 closed, assigned to nobody

[2015-09-29 17:48] vb186017 opened #413 "Incomplete revert branch request"
![Screenshot](https://cloud.githubusercontent.com/assets/14892978/10173096/6688eb54-6697-11e5-9dce-bfefe92cdaf8.png)

[2015-09-29 17:48] rtauber92054 commented on #379
Still waiting..

[2015-09-29 17:48] sbrinkmeyer commented on #410
:+1:

[2015-09-29 17:49] noahuci commented on #407
#260

[2015-09-29 17:49] sbrinkmeyer opened #416 "encourage people to : + 1 : on questions they are interested in"

[2015-09-29 17:49] snigdhajain opened #418 "Not able to merge. Closed with unmerged commits."
#275

[2015-09-29 17:49] ssackrider opened #419 "Demo Questions"
@rafischer @lisascullystein @dlinstruth @pkirby
### demo questions
- Will we have to create a branch for EVERY task #?  or what will be our branch
- How do we check in multiple files at once?

[2015-09-29 17:49] sbrinkmeyer opened #420 "encourage people to : + 1 : on questions they are interested in"
this way we could sort by number of comments and get the higher rated questions answered

[2015-09-29 17:49] vb186017 commented on #413
I clicked to revert my branch. Never created a pull request for the revert. What is the state of the revert pull request?

[2015-09-29 17:50] githubteacher commented on #420
:+1:

[2015-09-29 17:50] jns111 commented on #153
:+1:

[2015-09-29 17:50] abhibond commented on #405
:+1:

[2015-09-29 17:50] gdmalet commented on #420
+1

[2015-09-29 17:50] rafischer commented on #419
@ssackrider message received.  You broke the build again.

[2015-09-29 17:50] aabognah commented on #420
:+1:

[2015-09-29 17:50] ItaipuTechnology commented on #400
:+1:

[2015-09-29 17:50] #400 closed, assigned to nobody

[2015-09-29 17:50] chvrsi commented on #420
you're about to get a lot of :+1:

[2015-09-29 17:50] jaw6 commented on #407
@kfgq you should be able to click the `Delete Branch` button, even for a closed pull request.

[2015-09-29 17:50] #407 closed, assigned to nobody

[2015-09-29 17:50] pdxtom commented on #410
:+1:

[2015-09-29 17:50] sweetfisheric commented on #410
:+1:

[2015-09-29 17:50] kevinscully commented on #420
:+1:

[2015-09-29 17:50] iStryker commented on #380
@jaw6 -  Isn't creating a branch #111-refactor_class better than refactor_class?   That way ppl know what you are working on.  That way someone does not create refactor_class branch,  and someone else creates rewrite_function_x,  while they are the same thing

@githubteacher mention a good point about creating a pull request right away, with reference, they you cannot get confuse.

Inaddition, whe

[2015-09-29 17:50] gdmalet commented on #420
:+1:  I mean.... heh

[2015-09-29 17:51] lisascullystein opened #421 "File question"
How do we check in multiple files at once for a branch?

[2015-09-29 17:51] OluOyedipe commented on #410
:+1:

[2015-09-29 17:51] heyword commented on #369
:+1:

[2015-09-29 17:51] zeeshanSD commented on #400
:+1:

[2015-09-29 17:51] ap120266 commented on #405
:+1:

[2015-09-29 17:51] ItaipuTechnology commented on #153
:+1:

[2015-09-29 17:51] skchandon commented on #409
:+1:

[2015-09-29 17:51] cbrownrt commented on #410
:+1:

[2015-09-29 17:51] tjcolvin commented on #383
:+1:

[2015-09-29 17:51] kaiyuan01 commented on #421
test :+1:

[2015-09-29 17:51] Gurinder-Gill opened #422 "What happens to change history comments/issue reference etc after branch is deleted"

[2015-09-29 17:51] jaw6 commented on #418
Duplicate of #390

[2015-09-29 17:51] #418 closed, assigned to nobody

[2015-09-29 17:51] BFCIV commented on #410
:+1:

[2015-09-29 17:51] metherton commented on #46
:+1:

[2015-09-29 17:51] heyword commented on #405
:+1:

[2015-09-29 17:51] sanjay990 commented on #405
:+1:

[2015-09-29 17:52] metherton commented on #153
:+1:

[2015-09-29 17:52] jaw6 commented on #390
@snigdhajain did you have a question about how to merge the pull request?

[2015-09-29 17:52] BFCIV commented on #408
:+1:

[2015-09-29 17:52] jaw6 commented on #416
:+1: thanks for the reminder!

[2015-09-29 17:52] #416 closed, assigned to githubteacher

[2015-09-29 17:52] skchandon commented on #329
:+1:

[2015-09-29 17:52] brian-rickman commented on #379
:+1:

[2015-09-29 17:52] markowalsh commented on #410
:+1:

[2015-09-29 17:52] zeeshanSD commented on #156
:+1:

[2015-09-29 17:52] abhibond commented on #410
:+1:

[2015-09-29 17:52] tjcolvin commented on #405
:+1:

[2015-09-29 17:52] ItaipuTechnology opened #425 "Best Practice on Migrating from other Version Control Systems or SW Baselines"

[2015-09-29 17:53] brian-rickman commented on #156
:+1:

[2015-09-29 17:53] heyword commented on #379
:+1:

[2015-09-29 17:53] markowalsh commented on #405
:+1:

[2015-09-29 17:53] CSAmador opened #426 "Pace is a bit too fast"
Because there should be a beat when you shift from one page to another or when you show a button to hit.

[2015-09-29 17:53] skchandon commented on #46
:+1:

[2015-09-29 17:53] jmatracia commented on #383
:+1:

[2015-09-29 17:53] cbrownrt commented on #405
:+1:

[2015-09-29 17:53] SangySantharam opened #428 "Please demo file merges with multiple changes on same file"

[2015-09-29 17:53] jaw6 commented on #422
@Gurinder-Gill deleting a branch only removes the human-friendly label from the Branches list -- assuming they've been merged, the commits, comments, etc. all remain, long after the branch has been deleted.

[2015-09-29 17:53] #422 closed, assigned to nobody

[2015-09-29 17:53] OluOyedipe opened #429 "Is there a way to add a checklist template"
Looking for  an easy way to load a checklist into any PR

[2015-09-29 17:53] #327 closed, assigned to nobody

[2015-09-29 17:54] cbrownrt commented on #400
:+1:

[2015-09-29 17:54] ethanpwhite commented on #425
:+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1:

[2015-09-29 17:54] cbrownrt commented on #383
:+1:

[2015-09-29 17:54] schrags commented on #405
:+1:

[2015-09-29 17:54] kukkadav commented on #405
+1

[2015-09-29 17:55] cherrybee commented on #410
:+1:

[2015-09-29 17:55] aabognah commented on #14
Hi there. Didn't recognize you there with that shiny profile picture :+1:

[2015-09-29 17:55] ethanpwhite commented on #420
:+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1:

[2015-09-29 17:55] kukkadav commented on #405
:+1:

[2015-09-29 17:55] ts122492 commented on #408
:+1:

[2015-09-29 17:55] jaw6 commented on #421
@lisascullystein @kaiyuan01 -- good question! With the "in browser editor", it's not possible -- we can only edit one file at a time. We'll switch focus to the command-line :soon:, where we'll be able to commit more than one file. I'll remind Patrick to make sure he demonstrates this on screen!

[2015-09-29 17:55] #421 closed, assigned to nobody

[2015-09-29 17:55] cbrownrt commented on #379
:+1:

[2015-09-29 17:55] annavester commented on #408
:+1:

[2015-09-29 17:55] WeitiHuang commented on #428
:+1:

[2015-09-29 17:55] cherrybee commented on #428
:+1:

[2015-09-29 17:55] abhibond opened #430 "What Keyboard Shortcuts?"
How do we find what keyboard shortcuts are available on web UI?

[2015-09-29 17:55] sreedasari commented on #405
:+1:

[2015-09-29 17:55] schrags commented on #383
:+1:

[2015-09-29 17:55] sreedasari commented on #379
:+1:

[2015-09-29 17:56] cherrybee commented on #408
:+1:

[2015-09-29 17:56] vb186017 commented on #408
:+1:

[2015-09-29 17:56] BFCIV commented on #344
:+1:  @rgmain @Smarzulla

[2015-09-29 17:56] rafischer commented on #153
Search google for "git workflow best practices"

[2015-09-29 17:56] cbrownrt commented on #344
:+1:

[2015-09-29 17:57] jaw6 commented on #413
@vb186017 good question! The state is: there is a branch open, with a commit that would be the opposite of any commits in pull request #325. In a "real" project (ie, not for class), your collaborators might wonder what's going on -- why not create a pull request? or delete the branch? But, for our class this week, no need to worry about it.

[2015-09-29 17:57] ericcurtin commented on #410
:+1:  Branch per user story in a sprint seems like a good rule of thumb to me or branch per feature.

[2015-09-29 17:58] cbrownrt commented on #153
:+1:

[2015-09-29 17:58] patrickmckenna commented on #430
@abhibond Great question. Press `shift + ?`.

[2015-09-29 17:58] abhibond opened #431 "Importance of version Labels"
How are version labels used and what are the best practices?

[2015-09-29 17:58] #430 closed, assigned to nobody

[2015-09-29 17:59] #420 closed, assigned to nobody

[2015-09-29 17:59] heyword opened #433 "How do you edit/merge/have conversations about multiple files related to the same issue?"
Sometimes more than 1 file is created/edited in order to address an issue.

[2015-09-29 17:59] sanjay990 opened #434 "Testing auto close issue"
testing closure

[2015-09-29 17:59] #345 closed, assigned to nobody

[2015-09-29 18:00] #346 closed, assigned to sfeinholz

[2015-09-29 18:00] #359 closed, assigned to nobody

[2015-09-29 18:00] #333 closed, assigned to nobody

[2015-09-29 18:00] #314 closed, assigned to nobody

[2015-09-29 18:01] ItaipuTechnology commented on #156
:+1:

[2015-09-29 18:01] #434 closed, assigned to nobody

[2015-09-29 18:01] ericcurtin opened #435 "If two people are working on a feature, should they branch the branch?"
Self-explanatory.

[2015-09-29 18:01] BFCIV commented on #153
:+1:

[2015-09-29 18:02] jaw6 commented on #410
@jcbustamante2015 - great question! We typically recommend one branch per "discrete" action. A bug or user story is a good rule of thumb. There's almost zero cost to having branches in Git/GitHub -- so branch early + branch often is usually a good habit to be in. We do sometimes see cases where longer-lived or multiple-story branches makes sense (maybe imagine a big, high-point story {which probab

[2015-09-29 18:02] #410 closed, assigned to nobody

[2015-09-29 18:02] ricktshawtd commented on #1
late joiner

[2015-09-29 18:03] OluOyedipe commented on #379
:+1:

[2015-09-29 18:03] BFCIV commented on #405
:+1:

[2015-09-29 18:03] PavolC commented on #405
:+1:

[2015-09-29 18:04] jaw6 commented on #433
In the browser-based editor, it isn't possible to have one commit with more than one file, but it _is_ possible to have more than one commit in a pull request. We'll cover more-than-one file commits on the command line shortly.

[2015-09-29 18:04] #433 closed, assigned to nobody

[2015-09-29 18:04] BFCIV commented on #428
:+1:

[2015-09-29 18:04] CSAmador commented on #426
We are shifting focus from the meeting to our github connection

[2015-09-29 18:04] BFCIV commented on #431
:+1:

[2015-09-29 18:05] ericcurtin opened #438 "If the master branch gets updated while you are working on your own branch..."
How can I update my branch to get the changes from the master?
What if I want to merge a file that has been changed in master with a file I have changed in my branch?

[2015-09-29 18:05] metherton commented on #408
:+1:

[2015-09-29 18:05] annavester commented on #153
:+1:

[2015-09-29 18:05] BFCIV commented on #429
:+1:

[2015-09-29 18:05] annavester commented on #405
:+1:

[2015-09-29 18:05] snigdhajain commented on #390
Yes @jaw6 , when I clicked the Merge Pull request button, it said unable to merge. I tried a few times.

[2015-09-29 18:06] ghost commented on #156
:+1:

[2015-09-29 18:06] jaw6 commented on #435
@ericcurtin it depends. In some cases, typically for smaller or more limited features, it makes sense to work in the same branch. Typically, though, especially for someone new to Git/GitHub, you might want to work in separate branches and merge changes into one branch before opening a pull request. In some cases, a developer will open a pull request _targeting_ another branch -- typically pull req

[2015-09-29 18:06] #435 closed, assigned to nobody

[2015-09-29 18:06] jmbalasalle commented on #22
:+1:

[2015-09-29 18:07] ap120266 opened #439 "trouble authenticating connection over https"
it looks like my setup is wonky:

 git --version
git version 2.5.3
 git remote set-url origin https://github.com/githubteacher/github-for-developers-sept-2015.git
fatal: Not a git repository (or any of the parent directories): .git

[2015-09-29 18:09] jaw6 commented on #390
@snigdhajain this can happen with large, active repositories, like this one (> 100 collaborators) -- as new pull requests get merged into `master`, we need to re-confirm that the pull request is safe to merge before enabling the big green merge button. Usually, reloading/re-trying the merge is enough, but, again, with _very_ active repositories, it can take a few tries. If you try again now, I exp

[2015-09-29 18:09] #390 closed, assigned to nobody

[2015-09-29 18:10] vb186017 commented on #413
I really didn't wanted to create a pull request. For this class I was testing on how to create a pull request but just wanted to check how revert worked. I was just planning to hit Cancel, but didn't see any option. Is there a way I can delete the open branch? I was not able to find an option for it.

[2015-09-29 18:10] cherrybee opened #440 "Cannot view full screen"
The instructors screen is split between the browser and command line, and I cannot see either fully!

[2015-09-29 18:12] jaw6 commented on #439
@ap120266 in a corporate-managed network, you may need to switch to using `ssh` URLs, or configure an HTTPS proxy. Without knowing the details of your network (eg, your proxy configuration), I'd suggest trying the `ssh` URL first.

<img width="1041" alt="screen shot 2015-09-29 at 1 10 48 pm" src="https://cloud.githubusercontent.com/assets/2077/10173732/8f17da26-66ab-11e5-881c-215250fd8c58.png">

C

[2015-09-29 18:12] #439 closed, assigned to nobody

[2015-09-29 18:12] cherrybee commented on #440
Never mind, had to switch layout

[2015-09-29 18:12] #440 closed, assigned to nobody

[2015-09-29 18:12] CSAmador commented on #426
For example, you just cleared your command screen and I can't check why my syntax doesn't work...

[2015-09-29 18:14] jaw6 commented on #428
@SangySantharam I'll make sure @patrickmckenna has this on his radar -- we probably won't have time for it in today's class, but we'll try to include this tomorrow.

[2015-09-29 18:15] maryfries opened #441 "What is the link to the config settings?"

[2015-09-29 18:15] snigdhajain commented on #441
:+1:

[2015-09-29 18:16] Ziliboba opened #442 "Does "git push" command if executed on some custom branch, by default does push for all branches including master?"
Seems to be  dangerous  to be the default behavior?  Much more dangerous with -f
How can we prevent such behavior?

[2015-09-29 18:17] jaw6 commented on #22
@jmbalasalle "Watching" means that you receive notifications for new issues & pull requests. Whether you receive emails or web "pings" depends on your settings in https://github.com/settings/notifications

<img width="1003" alt="screen shot 2015-09-29 at 1 15 55 pm" src="https://cloud.githubusercontent.com/assets/2077/10173877/46ecca80-66ac-11e5-9da0-e5ff28ceba2e.png">

We don't have a setting tha

[2015-09-29 18:17] #22 closed, assigned to nobody

[2015-09-29 18:17] markowalsh opened #443 "Failed connect to github.com:443; No error"
fatal: unable to access 'https://github.com/githubteacher/github-for-developers-
sept-2015.git/': Failed connect to github.com:443; No error

[2015-09-29 18:17] jaw6 commented on #124
Answered in #22

[2015-09-29 18:17] #124 closed, assigned to githubteacher

[2015-09-29 18:18] jmarlena commented on #441
:+1:

[2015-09-29 18:18] CSAmador opened #445 "how do I fix this clone error"
C:\Users\CA120453\Documents\GitHub> git clone https://github.com/githubteacher/g
ithub-for-developers-sept-2015.git
Cloning into 'github-for-developers-sept-2015'...
fatal: bad numeric config value 'inp' for 'core.autocrlf' in C:\Users\CA120453/.
gitconfig: invalid unit
C:\Users\CA120453\Documents\GitHub>

[2015-09-29 18:19] jaw6 commented on #125
@krestel1 "Not watching" means that you'll still receive notifications if you're specifically @mentioned. If you want to stop receiving all notifications, you'll want to toggle to "Ignore".

[2015-09-29 18:19] #125 closed, assigned to nobody

[2015-09-29 18:20] jmbalasalle opened #446 "Could you explain the issue that happened with initial checkout at some point?"

[2015-09-29 18:22] jaw6 commented on #153
@jcbustamante2015 & all: we're all fans of [GitHub Flow](https://guides.github.com/introduction/flow/) here -- open a branch, add commits, open a pull request, discuss, merge. You might find [Git Flow](http://nvie.com/posts/a-successful-git-branching-model/) interesting -- I have seen some teams work well with it, but my experience is that it's all too often over-kill for _most_ teams.

[2015-09-29 18:22] #153 closed, assigned to nobody

[2015-09-29 18:24] jleaver commented on #441
:+1:

[2015-09-29 18:24] maryfries opened #447 "Updating Git"
How do you do it? My Desktop App is up to date, but my command line Git is seriously out of date.

[2015-09-29 18:24] sbrinkmeyer opened #448 "horrible bug thas causing the end users machine to catch fire"
tis funny .... sometimes

[2015-09-29 18:25] maryfries commented on #446
:+1:

[2015-09-29 18:26] ap120266 commented on #439
@jaw6 Thanks for your help,

after adding the rsa.pub key to my account it seems to have worked:

git clone git@github.com:githubteacher/github-for-developers-sept-2015.git
Cloning into 'github-for-developers-sept-2015'...
remote: Counting objects: 1546, done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 1546 (delta 2), reused 0 (delta 0), pack-reused 1538
Receiving objects: 100% (

[2015-09-29 18:26] rtauber92054 opened #449 "After changes you made how do we get latest in our copy?"
Help..?

[2015-09-29 18:27] CSAmador commented on #445
Also, I downloaded this for the everyone class; are there additional steps for this class?

[2015-09-29 18:27] rajkumar79 opened #450 "Can you branch a specific version in the master?"

[2015-09-29 18:28] CSAmador commented on #445
C:\Users\CA120453\Documents\GitHub> git --version
git version 1.9.5.github.0
C:\Users\CA120453\Documents\GitHub>

[2015-09-29 18:29] snigdhajain opened #451 "How do you get the branch name to show up on the cmd line next to cursor?"

[2015-09-29 18:29] rtauber92054 opened #452 "Too fast on the command line"

[2015-09-29 18:29] rtauber92054 commented on #452
start over please

[2015-09-29 18:30] CSAmador commented on #426
After Issue  #445...I can't follow anymore.

[2015-09-29 18:30] sbrinkmeyer opened #453 "in a bad way on the command line can't git pull on master"
Updating 5176ae8..601839f
error: Your local changes to the following files would be overwritten by merge:
    README.md
Please, commit your changes or stash them before you can merge.
Aborting

[2015-09-29 18:31] jaw6 commented on #156
@satishsaley: "Clone" means to copy the repository to your local work area (typically your laptop or development environment). "Branch" means to create a new human-friendly label (git calls it a "ref") where new commits will live, separated from, but sharing history with the main/current branch (typically `master`).

I'm imagining that you're really asking about "Fork" -- "Fork" is a GitHub techno

[2015-09-29 18:31] #156 closed, assigned to nobody

[2015-09-29 18:31] CSAmador commented on #426
See #452

[2015-09-29 18:31] BFCIV commented on #452
:+1:

[2015-09-29 18:31] maryfries commented on #452
:+1: I got lost right at the beginning because of the two readme versions...

[2015-09-29 18:31] jaw6 commented on #373
@kaiyuan01 sorry, I'm not sure if this is a question or feedback -- are you asking us to slow down in class?

[2015-09-29 18:32] BFCIV opened #454 "unable to clone in the git bash"
BClardy@BCLARDY3 MINGW64 ~
$ git clone https://github.com/githubteacher/github-for-developers-sept-2015.gi
t
Cloning into 'github-for-developers-sept-2015'...
fatal: unable to access 'https://github.com/githubteacher/github-for-developers-
sept-2015.git/': Failed to connect to github.com port 443: Timed out

BClardy@BCLARDY3 MINGW64 ~

[2015-09-29 18:33] saranicole commented on #443
http://stackoverflow.com/questions/18356502/github-failed-to-connect-to-github-443-windows-failed-to-connect-to-github

[2015-09-29 18:33] jdtao commented on #454
:+1:

[2015-09-29 18:33] markowalsh commented on #443
Thanks @saranicole

[2015-09-29 18:34] jdtao commented on #452
:+1:

[2015-09-29 18:34] saranicole commented on #445
try:

git config --global core.autocrlf input

It looks like you incorrectly set it to "inp"

[2015-09-29 18:36] neicher1 commented on #452
:+1:

[2015-09-29 18:36] rajkumar79 commented on #452
+1

[2015-09-29 18:37] moliverio commented on #452
:+1:

[2015-09-29 18:37] ericcurtin opened #490 "Problem with git push"
~/git/github-for-developers-sept-2015>git push -u origin demo-local-branch-ericcurtin
error: The requested URL returned error: 403 Forbidden while accessing https://github.com/githubteacher/github-for-developers-sept-2015.git/info/refs

fatal: HTTP request failed

I'm on git version 1.7.1. Unfortunately that's the latest version on my development environment, CentOS 6.7

[2015-09-29 18:38] saranicole commented on #453
Do a git reset --hard then git pull

[2015-09-29 18:38] CSAmador commented on #445
Thanks. that worked.

[2015-09-29 18:38] neicher1 opened #491 "Please post result of "history | grep git" so we can catch up during break."

[2015-09-29 18:38] jaw6 commented on #379
@rtauber92054 & others: we don't have a mechanism to enforce this social convention. We have a relatively new feature, called ["Protected Branches"](https://github.com/blog/2051-protected-branches-and-required-status-checks) which you can use to set specific test cases that _must_ be passing before a PR can be merged. You could combine this with something like Jenkins or [Travis CI](https://travis

[2015-09-29 18:38] #379 closed, assigned to nobody

[2015-09-29 18:38] kevinman42 opened #493 "Aren't local branches supposed to inherit the upstream branch from a clone? Got an error."
fatal: The current branch krs-branch-2 has no upstream branch.
To push the current branch and set the remote as upstream, use

[code]

[2015-09-29 18:39] maryfries commented on #452
Are we supposed to be keeping up with the command line stuff on our own machines? He keeps clearing the screen. I'm totally lost. Can we watch this online somewhere?

[2015-09-29 18:39] rajkumar79 commented on #1
Hello

From: LynnRichardson <notifications@github.com<mailto:notifications@github.com>>
Reply-To: githubteacher/github-for-developers-sept-2015 <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, September 29, 2015 at 9:46 AM
To: githubteacher/github-for-developers-sept-2015 <github-for-developers-sept-2015@noreply.github.com<mailto:github-for-developers-sept-2015@noreply.github

[2015-09-29 18:40] lakshgupta opened #500 "local branch state after deleting branch from github"
WHat happens to the local branch when after merging the pull request we delete the branch using the UI?

[2015-09-29 18:40] saranicole commented on #454
Try:

ssh -T -p 443 git@ssh.github.com

https://help.github.com/articles/using-ssh-over-the-https-port

If that fails update the http.proxy key as doc'ed here:

http://stackoverflow.com/questions/18356502/github-failed-to-connect-to-github-443-windows-failed-to-connect-to-github

[2015-09-29 18:40] ghost opened #502 "Getting failed to push some refs errors."
error: src refspec demo-local-Andy-branch does not match any.
error: failed to push some refs to 'https://github.com/githubteacher/github-for-
developers-sept-2015.git'

[2015-09-29 18:40] #448 closed, assigned to nobody

[2015-09-29 18:41] ghost commented on #502
When running the command "git push -u origin demo-local-andy-branch"

[2015-09-29 18:41] sfeinholz opened #510 "error pushing"
hint: Updates were rejected because the remote contains work that you do
hint: not have locally. This is usually caused by another repository pushing
hint: to the same ref. You may want to first integrate the remote changes
hint: (e.g., 'git pull ...') before pushing again.
hint: See the 'Note about fast-forwards' in 'git push --help' for details.

[2015-09-29 18:41] kevinman42 commented on #493
Ran the command "git push -u origin" while in my local branch context.

[2015-09-29 18:42] saranicole commented on #490
Are you getting a login prompt on the console?  You will need to configure an SSH key that authenticates to your github account.

https://help.github.com/articles/set-up-git/

https://help.github.com/articles/generating-ssh-keys/

[2015-09-29 18:42] chvrsi commented on #452
I'll admit that I got lost pretty fast during the configuration part.  Manged to catch up though.

[2015-09-29 18:43] CSAmador commented on #426
Pace got way too fast after starting on command line because our fat fingers are error prone and when we miss a step it is hard to get back in sync.

[2015-09-29 18:43] hbalagtas opened #516 "How to handle case sensitive and non-case sensitive file systems issues?"
How to handle case sensitive and non-case sensitive file systems issues, we've had this issue with users on Windows and Mac. I think that was the issue when you pulled locally and already there were changes.

[2015-09-29 18:44] jaw6 commented on #380
@iStryker a naming convention like that can be helpful -- no doubt -- but I find it's best to use descriptive branch names and **link** the pull request to the associated bug/issue. My experience as a developer has been that links are a richer medium -- among other things, the bi-direction links between issues & pull requests display the status of the linked pull request on the associated issue, m

[2015-09-29 18:44] #380 closed, assigned to nobody

[2015-09-29 18:44] maryfries commented on #452
He keeps clearing the screen after he types something.

[2015-09-29 18:44] WeitiHuang opened #517 "Need to re-clone the repository. How to delete the local repository?"

[2015-09-29 18:44] ln185008 commented on #408
:+1:

[2015-09-29 18:45] #500 closed, assigned to nobody

[2015-09-29 18:45] Ziliboba commented on #450
:+1:

[2015-09-29 18:46] WeitiHuang opened #518 ""git add" doesn't work in Power Shell"
[code]

[2015-09-29 18:46] jaw6 commented on #383
@schrags & others: there's no convention that's :100:% for signaling "ready for review" across all of GitHub, but informally, we know that many projects use a label like `ready-for-review` to signal this.

Informally, many developers prepend their pull request titles "WIP: Working on ..." when pull requests are still in progress, and use @mentions to alert reviewers when status changes.

[2015-09-29 18:46] #383 closed, assigned to nobody

[2015-09-29 18:46] hbalagtas commented on #451
It's a script that you can use to see repo info on your prompt

[Git Prompt](https://github.com/git/git/blob/master/contrib/completion/git-prompt.sh)

[2015-09-29 18:47] jaw6 commented on #385
@aabognah If you want to stop receiving notifications for an existing thread (issue or pull request), click the `Unsubscribe` button on the thread you want to stop. If you want to change how you get notifications for new threads, see https://github.com/settings/notifications

[2015-09-29 18:47] #385 closed, assigned to nobody

[2015-09-29 18:48] saranicole commented on #510
execute:
git pull

If that says "Aborting", execute:
git reset --hard

to remove local changes

[2015-09-29 18:48] jaw6 commented on #441
https://training.github.com/kit/modules/CONT-CLI-01_Basic-Configuration.html

[2015-09-29 18:48] #441 closed, assigned to nobody

[2015-09-29 18:49] saranicole commented on #517
From the directory containing the folder:
rm -rf github-for-developers-sept-2015

[2015-09-29 18:49] jamie-cyber1 opened #520 "Why were there pre-staged files in the repo after the clone?"
Cannot get rid of those pre-staged files via checkout, etc...  There seemed to be case issue there as well.  What happened in this particular case?  And what to do?

[2015-09-29 18:49] aabognah commented on #385
Thanks

[2015-09-29 18:49] jaw6 commented on #429
@OluOyedipe @BFCIV this isn't currently a feature of GitHub, but, as one option, you could add a `template.md` file to your repository and link to it from `CONTRIBUTING.md`. See [this document](https://github.com/blog/1184-contributing-guidelines) for more details on `CONTRIBUTING.md`.

[2015-09-29 18:49] #429 closed, assigned to nobody

[2015-09-29 18:50] cbrownrt opened #522 "Two githubs"
I have an in-house github, plus yours at github.com.  When I do pushes, they are going to the in-house one.  How do I tell the push which one to go to?

[2015-09-29 18:50] saranicole commented on #443
Sure thing - looks like others are having the same problem

[2015-09-29 18:50] jaw6 commented on #413
@vb186017 sure, visit the [branches tab](https://github.com/githubteacher/github-for-developers-sept-2015/branches), toggle to `Your Branches` and click the "trash" icon to delete the branch.

[2015-09-29 18:50] #413 closed, assigned to nobody

[2015-09-29 18:51] jaw6 commented on #431
@abhibond @BFCIV sorry, can you clarify - we've been using labels for Issues and Pull Requests, are those the labels you mean? I'm not sure about "version Labels" ?

[2015-09-29 18:52] #445 closed, assigned to nobody

[2015-09-29 18:52] sbrinkmeyer commented on #343
@ItaipuTechnology can we close this issue?

[2015-09-29 18:53] sfeinholz commented on #510
tried the pull; did not help; will try the reset

[2015-09-29 18:53] jaw6 commented on #369
[code]

[code]

[code]

[2015-09-29 18:53] #369 closed, assigned to nobody

[2015-09-29 18:54] maryfries commented on #452
Can you please post the list of commands we should be entering to catch up?

[2015-09-29 18:54] vb186017 commented on #413
Thanks a lot. This was helpful.

[2015-09-29 18:55] mnshantz commented on #447
:+1:

[2015-09-29 18:55] hbalagtas commented on #522
Look into git remote http://git-scm.com/docs/git-remote

Basically you can push you project to multiple repositories.

[2015-09-29 18:55] saranicole commented on #449
Try:
git pull

If you have made local changes first do:
git reset --hard

[2015-09-29 18:56] jmatracia commented on #419
@BHoward67 bump

[2015-09-29 18:56] nathanv commented on #520
https://help.github.com/articles/dealing-with-line-endings/

[2015-09-29 18:56] ts122492 opened #526 "git push error 403"
1600 ~: $ git push --set-upstream origin woot
Username for 'https://github.com': ts122492
Password for 'https://ts122492@github.com':
remote: Permission to githubteacher/github-for-developers-sept-2015.git denied to ts122492.
fatal: unable to access 'https://github.com/githubteacher/github-for-developers-sept-2015.git/': The requested URL returned error: 403

[2015-09-29 18:56] #520 closed, assigned to nobody

[2015-09-29 18:56] lkmorlan commented on #450
You can do:

git checkout -b new-branch-name REF

That makes a new branch which will be the same as REF. REF can be the name of a branch, the name of a tag, or a commit hash such as "8ba9d67" (every commit is identified by a hash).

[2015-09-29 18:57] milindrao commented on #522
My github email address is different from the enterprise email address.  I changed the global configuration.  I guess I need to figure out how to change the email address for the repository.  Not change the global email address

[2015-09-29 18:57] saranicole commented on #526
Take a look at:

http://stackoverflow.com/questions/18356502/github-failed-to-connect-to-github-443-windows-failed-to-connect-to-github

[2015-09-29 18:57] milindrao commented on #522
:+1:

[2015-09-29 18:57] WeitiHuang commented on #517
Thanks!!

[2015-09-29 18:57] maryfries commented on #517
I think I have one inside another. How do I clear them both?

[2015-09-29 18:57] #443 closed, assigned to nobody

[2015-09-29 18:58] ap120266 opened #528 "git config --global push.default matching or simple"
what is your default push setting?

[2015-09-29 18:58] saranicole commented on #517
So long as you are in the directory above the parent, `rm -rf` to the parent will remove both parent and child directories

[2015-09-29 18:58] lkmorlan commented on #442
You can do:
git push --all
This will push all local branches.

[2015-09-29 18:58] tjcolvin commented on #419
@ssackrider I believe you would create a new branch for every task. This would allow you to check in a branch without worrying about changes you may have made for another task.

Edit: At least as far as I know.

[2015-09-29 18:59] WoodyTheWoodman opened #529 "branch vs fork"
What is the difference between a branch and a fork? And when would you use one over the other?

[2015-09-29 18:59] #49 closed, assigned to nobody

[2015-09-29 18:59] maryfries opened #530 "How can you filter for any issues that you have commented on?"

[2015-09-29 18:59] nathanv commented on #517
Make sure you're in the right directory when you do it. Type `pwd` to see which directory you're in

[2015-09-29 18:59] jaw6 commented on #450
@rajkumar79 @Ziliboba -- I'm not I understand the question, but I think you're asking if you can create a branch pointing at a specific point in time.

Typically, when we do:

[code]

We create a new branch, here called `new_branch` that's based on the currently checked-out branch, here, that'd be `master`.

If we want, we could create a new branch that was based on, just for example, [this commit

[2015-09-29 18:59] aabognah opened #531 "It would have made things clearer if an explanation was given for the different git commands (especially the differnece between checkout, and branch)"

[2015-09-29 18:59] jaw6 commented on #449
`git pull`

[2015-09-29 18:59] #449 closed, assigned to nobody

[2015-09-29 19:00] Smarzulla opened #532 "Slides or documentation?"
Are there slides or lists of the command line commands we did today for later reference?

[2015-09-29 19:00] sanjay990 commented on #438
git checkout master
git pull
git checkout <branch>
git rebase master

[2015-09-29 19:00] bcmatz opened #533 "Better quality audio tomorrow if possible."
I can hear you, but not clearly many times.  There is a slight echo, and another line seems to be bleeding through periodically.

Not sure if this is something you have control over as you had mentioned things going on in your office that are not in your control, but thought I'd mention it.

[2015-09-29 19:00] saranicole commented on #502
Try:
git pull --rebase

As described here:
http://stackoverflow.com/questions/24114676/git-error-failed-to-push-some-refs-to

[2015-09-29 19:01] graham-sanipelli-iq opened #534 "Would like more time spent on command line git and less on Github"
And go slower on the command line stuff and don't clear screen so often.
Github has a nice GUI and is easy to figure out, but the command line is the difficult part that needs explanation.

[2015-09-29 19:01] saranicole commented on #447
:+1:

[2015-09-29 19:01] SangySantharam commented on #532
+1

[2015-09-29 19:01] #530 closed, assigned to nobody

[2015-09-29 19:01] nathanv commented on #529
Good question. :+1:

[2015-09-29 19:01] indijanc commented on #151
Wat?

[2015-09-29 19:02] lkmorlan commented on #529
They are the same thing, though a fork implies that they will never be merged.

[2015-09-29 19:02] jaw6 commented on #447
@maryfries it depends a bit on your operating system. On Windows, try downloading from https://git-scm.com/download/win. On OS X, there are [instructions here](http://coolestguidesontheplanet.com/install-update-latest-version-git-mac-osx-10-9-mavericks/) for upgrading git. For Linux, it will depend on your specific package, for Ubuntu, `apt-get install git` ought to work.

[2015-09-29 19:02] saranicole commented on #534
:+1:

[2015-09-29 19:03] ghost commented on #502
Delete the repository, re-cloned from master, and then created a branch.
touched a file, and then committed.. git status indicates everything is clean and commited.

git status
On branch krestel-andy-local-branch
nothing to commit, working directory clean

then do a push.. make sure the name is the same as the branch.

ocal-branch]> git push -u origin krestel-andy-local-branch
Counting objects: 30

[2015-09-29 19:03] WoodyTheWoodman opened #535 "Deleting branch locally vs remotely"
How do you sync up the deletion of branches locally vs remotely? I can delete locally, but it still exists remotely and vice versa. Is there a better place to delete branches so that the branches are synced up locally and remotely?

[2015-09-29 19:04] jaw6 commented on #442
We usually recommend folks set this configuration setting:

[code]

This configures git to _only_ push the currently checked out branch. The defaults have changed a few times in various versions of Git, so the exact behavior you experience without configuring will depend on the exact Git version, operating system, etc.

[2015-09-29 19:04] #442 closed, assigned to nobody

[2015-09-29 19:04] kaiyuan01 commented on #373
Sorry for the confusion. This is a general question when user uses git instead of using other VCS. As a result, will they spend more time on reviewing codes and merging changes?

[2015-09-29 19:04] CSAmador commented on #426
So how much of the command line stuff should we have a handle for tomorrow?

[2015-09-29 19:04] #451 closed, assigned to nobody

[2015-09-29 19:05] #149 closed, assigned to nobody

[2015-09-29 19:08] jaw6 commented on #453
@sbrinkmeyer the `git reset --hard` suggested by @saranicole _will_ work, but you'll lose anything you've typed locally. For today's class, it's probably nothing super important, but in your daily grind, this could be tragic. I'd suggest:

[code]

`git stash` will save local changes in a temporary state (it's sort of like a branch, but hidden from other branches) then `pull` in remote changes, the

[2015-09-29 19:08] #453 closed, assigned to nobody

[2015-09-29 19:09] saranicole commented on #453
@jaw6 good point thank you

[2015-09-29 19:11] jaw6 commented on #452
Hey folks: Sorry about the pacing in the last segment. We will post a video (typically takes a few hours to process) after tomorrow's class. If you'd like to review before tomorrow, here are links to the material we covered in today's class:
- [Basic Command Line Interface (CLI) Configuration](https://training.github.com/kit/modules/CONT-CLI-01_Basic-Configuration.html)
- [Cloning a Repository](ht

[2015-09-29 19:11] #452 closed, assigned to nobody

[2015-09-29 19:12] saranicole commented on #151
@indijanc https://translate.google.com/#ga/en/T%C3%A1%20an%20l%C3%A1%20go%20brea%20in%20Eirinn

[2015-09-29 19:14] jaw6 commented on #373
@kaiyuan01 thanks for clarifying: I switched from SVN to Git a long time ago, so things may be different now, but I find I spent much less time reviewing changes with Git. Branches (and merging) in SVN was typically pretty challenging, but I find it's rarely an issue in Git. That said, it's probably true that you'll need more review if your team works on the same file simultaneously than you would

[2015-09-29 19:14] #373 closed, assigned to nobody

[2015-09-29 19:15] saranicole commented on #510
@jaw6 recommends git stash so you can restore local changes instead of just deleting them

`git stash \
git pull \
git stash pop`

[2015-09-29 19:15] maryfries commented on #344
I'll add that we definitely have not been branching but have been making commits directly to "gh-pages", our default branch. (Is that master?) I'll have to understand that a bit better so that I can train others to branch and make pull requests.

Also, our whole repo is a fork, though I doubt that matters...

[2015-09-29 19:16] jaw6 commented on #438
@sanjay990's answer should work most of the time. Keep in mind, though, that if your branch has been pushed, you'll want the last command to be `git merge master` instead of `git rebase master`. I'm hoping we'll have time tomorrow to talk about `rebase` in more depth.

[2015-09-29 19:16] #438 closed, assigned to nobody

[2015-09-29 19:17] jaw6 commented on #446
The issue likely involved line endings. See https://help.github.com/articles/dealing-with-line-endings/ for more details.

/cc @patrickmckenna

[2015-09-29 19:17] #446 closed, assigned to nobody

[2015-09-29 19:18] jaw6 commented on #454
@BFCIV let us know if @saranicole's solution doesn't work for some reason, but I expect that's what you need to do. (Thanks @saranicole!)

[2015-09-29 19:18] #454 closed, assigned to nobody

[2015-09-29 19:23] mnshantz commented on #447
I'm on a Windows machine and had previously installed git from the link above. But when I checked the git version I had 1.9.5 instead of 2.5.3. I tried reinstalling from the link provided and had the same result. I am using git shell (which for me was running in Windows PowerShell). I decided to check my git version using the Windows Command Prompt and found it is reporting version 2.5.3. What cou

[2015-09-29 19:24] jaw6 commented on #490
@ericcurtin First: 1.7.1 is _very_ old. It's disappointing that this is the most recent version in CentOS package repository. Please be aware, there was a _significant_ security issue discovered in Git [several months back](https://github.com/blog/1938-vulnerability-announced-update-your-git-clients) and we _strongly_ advise you to upgrade, even if you need to [compile git from source](https://www

[2015-09-29 19:24] #490 closed, assigned to nobody

[2015-09-29 19:26] kaiyuan01 commented on #373
Great. Thanks for the reply.

[2015-09-29 19:26] jaw6 commented on #493
@kevinman42 if you've cloned with the default options, then `master` is the only local branch I'd expect to be wired up to the upstream tracking `master` branch. When you create a new branch (eg, `krs-branch-2`), it won't be tracking any upstream branches until/unless you push with `-u` (or `git branch -u` to set this without pushing)

[2015-09-29 19:26] #493 closed, assigned to nobody

[2015-09-29 19:27] jaw6 commented on #502
@krestel1 sounds like you got it working -- anything we can do to help here?

[2015-09-29 19:30] jaw6 commented on #419
Will typically recommend one branch per logical "unit" -- typically one branch per issue, story, feature or bug. There are cases where that doesn't follow (long features, several point stories that really _should_ have been broken down into smaller units, etc) but it's typically a useful workflow/strategy for most development workflows. Branches are lightweight references, there's very little down

[2015-09-29 19:30] #419 closed, assigned to rafischer

[2015-09-29 19:30] jaw6 commented on #491
/cc @patrickmckenna

[2015-09-29 19:31] #517 closed, assigned to nobody

[2015-09-29 19:36] jaw6 commented on #516
@hbalagtas Unfortunately, there's only so much Git can do to work around non-case sensitive operating systems. If your repository, say, has `directoryA` and `Directorya`, Windows users will see all files from both directories presented locally under exactly one folder. Windows users can use `git mv FileA filea` to move (rename) a file with a wrong case name to a better name. If you often work acro

[2015-09-29 19:36] #516 closed, assigned to nobody

[2015-09-29 19:37] patrickmckenna commented on #329
@milindrao @skchandon The auto-populate list will always max out at five items. It's designed to be a convenience when typing, not an exhaustive list. You can see a list of all contributors to this repository by clicking on the icon noted below:

![contributors](https://cloud.githubusercontent.com/assets/3589536/10175974/dbc9f160-66a6-11e5-8ef9-31e4f766c564.png)

[2015-09-29 19:37] #329 closed, assigned to nobody

[2015-09-29 19:38] #343 closed, assigned to nobody

[2015-09-29 19:38] nathanv commented on #491
Great idea :+1:

[2015-09-29 19:40] aniepelletier opened #540 "pell test"
pell test

[2015-09-29 19:40] patrickmckenna commented on #408
@jns111 Hope this was answered well-enough out loud? If not, please feel free to re-open this Issue and mention what you'd like to have covered in greater detail.

[2015-09-29 19:40] #408 closed, assigned to nobody

[2015-09-29 19:41] jaw6 commented on #528
Typically, most folks want `current` or `simple` -- push the current branch to a branch with the same name at the remote. `matching` _used_ to be the default -- it pushes **all** branches with matching names. This can be dangerous (or at least, unintentional), especially for new-to-Git folks.

Imagine a scenario: You made some commits, but you were checked-out to `master` when you meant to be on a

[2015-09-29 19:41] #528 closed, assigned to nobody

[2015-09-29 19:42] jaw6 commented on #532
https://training.github.com/kit/courses/github-for-developers.html

[2015-09-29 19:42] #532 closed, assigned to nobody

[2015-09-29 19:45] nathanv commented on #518
@1walterh you don't need to add a file that is tracked by git. It has already been added. The git add command won't do anything. if you touch a new file... you will have to add that.

[2015-09-29 19:46] aniepelletier commented on #1
pell test

[2015-09-29 19:49] patrickmckenna commented on #409
@rajkumar79 @skchandon Good question.

You can have Git repositories as sub-directories of another Git project with something called `submodule`s. That said, we generally recommend avoiding that unless technically necessary. For instance, many people want to use `submodule`s to deal with project dependencies, but where possible we encourage you to use the appropriate package manager. `submodule`s

[2015-09-29 19:49] #409 closed, assigned to nobody

[2015-09-29 19:49] nathanv commented on #535
You can delete remote branches as shown here:
http://gitready.com/beginner/2009/02/02/push-and-delete-branches.html

[2015-09-29 19:51] patrickmckenna commented on #425
@ItaipuTechnology That depends heavily on what system you're migrating from, how much you want to transfer, and with what fidelity. I'd start by looking at our [GitHub Importer tool](https://import.github.com/new). If you have more specific questions, please let us know.

[2015-09-29 19:51] #425 closed, assigned to nobody

[2015-09-29 19:53] patrickmckenna commented on #428
@SangySantharam Would you mind clarifying what you'd like to see in tomorrow's class? Technically the very first change we demonstrated included multiple changes (multiple commits) to the same file. Did you mean merge conflicts, i.e. dealign with situations where a merge is blocked by default because Git sees two different versions of the same file?

[2015-09-29 19:58] patrickmckenna commented on #491
@neicher1 @nathanv My laptop actually froze after class, so I couldn't get this -- sorry! However, we're recording both days, and I'll try to get tomorrow CLI history saved as well. Also, we'll going over command line Git much more thoroughly tomorrow, including a reprise of everything we quickly covered today.

[2015-09-29 19:58] #491 closed, assigned to nobody

[2015-09-29 20:00] ap120266 commented on #528
"simple" is good,

thanks,
andrew

From: Joshua Wehner [mailto:notifications@github.com]
Sent: Tuesday, September 29, 2015 12:42 PM
To: githubteacher/github-for-developers-sept-2015
Subject: Re: [github-for-developers-sept-2015] git config --global push.default matching or simple (#528)

Typically, most folks want current or simple -- push the current branch to a branch with the same name at the r

[2015-09-29 20:20] ghost commented on #502
I am good, thanks. I am not sure if it was me typing everything. I think that error that you got in the beginning when you were cloning (regarding new files) and when you try to delete those files, threw everyone a curve ball, that was when I started falling behind.

[2015-09-29 20:27] cbrownrt opened #544 "Updating Git over GitHub install"
Last week I ran the GitHub install on my Win7 box and got it all running.  During class, @patrickmckenna had us do a git version command and mine came up with 1.9.5.github.0.  The latest is 2.5.3.  What is the right way to update to that latest version?

[2015-09-29 20:31] patrickmckenna commented on #522
@cbrownrt Hopefully the answer provided during class cleared things up?

[2015-09-29 20:31] #522 closed, assigned to nobody

[2015-09-29 20:33] cbrownrt commented on #522
Once I got my proxy straightened out, it worked perfectly.

[2015-09-29 20:48] BFCIV commented on #1
try agian

[2015-09-29 20:51] patrickmckenna commented on #529
@WoodyTheWoodman Good question. First off, they are separate things. A branch exists within a repository. Any given repo can have an arbitrary number of branches, each representing a different revision of the project. We use branches to separate logically distinct work, both to make development easier and to sandbox work in progress.

A fork is a copy of an entire repository, including all its bra

[2015-09-29 20:51] #529 closed, assigned to nobody

[2015-09-29 20:52] patrickmckenna commented on #533
@bcmatz Thanks for the info, I will see if there's a potentially quieter room available tomorrow.

[2015-09-29 20:52] #533 closed, assigned to nobody

[2015-09-29 20:57] patrickmckenna commented on #46
@jcbustamante2015 The "official" answer is they're separate companies that offer similar products.

[2015-09-29 20:57] #46 closed, assigned to nobody

[2015-09-29 20:59] patrickmckenna commented on #518
@1walterh Odd. What happens if you have the output of `git status` as shown, type `git add .`, then run `git status` again?

[2015-09-29 21:15] ts122492 commented on #1
Hi I am here.
Please give me write permission.

[2015-09-29 21:16] gitglen commented on #1
Add comment

[2015-09-29 21:48] gitglen opened #545 "Fail to clone to desktop"
Failed clone in desktop

[2015-09-29 22:01] gitglen commented on #1
Please could you make a a 'Collaborator'?

[2015-09-29 22:38] busreset opened #547 "You seemed to be using autocomplete on git commands and branch names on command line?"
You seemed to be using autocomplete on git commands and branch names on the command line when you were showing how to use git locally.  Were you using the following bash script to do so (found through google search)?

http://code-worrier.com/blog/autocomplete-git/

Or something similar?  The posting is from 2012 so it is a bit dated and I'm not sure if it's widely supported / stable or not.

Looks

[2015-09-29 22:51] lauradluu commented on #1
Please give me write permission.  Command-line 'git push....' gave me this error:

error: The requested URL returned error: 403 while accessing https://github.com/githubteacher/github-for-developers-sept-2015.git/info/refs?service=git-receive-pack
fatal: HTTP request failed

[2015-09-30 00:39] busreset commented on #547
Oh, I see it's part of the git install when using homebrew on OS X, located in `/usr/local/etc/bash_completion.d/git-completion.bash`.  I already had it and didn't know.

[2015-09-30 01:25] jaw6 commented on #544
@cbrownrt best is to download the installer from http://git-scm.com/download/win and install it. That should have you all set with the newest version.

[2015-09-30 01:25] #544 closed, assigned to nobody

[2015-09-30 05:21] rajkumar79 opened #549 "Project Naming Conventions in GITHUB"
We are migrating from perforce to GITHUB , we have a deeply nested structure in perforce and we cant follow the same in GITHUB.

Example

ProductName-ServiceName-Version-Public/Private-ArtifactName
example webs-subscription-v3-pub-signup.
Can we move this as is to GITHUB.

We also have a requirement where the same service can have multiple versions and each version is a totally different implement

[2015-09-30 12:44] cbrownrt commented on #544
:smiley:

[2015-09-30 15:57] maryfries opened #550 "Link for today?"
I only received the link for yesterday and it doesn't work today. Thanks!

[2015-09-30 16:01] maryfries commented on #550
Ok, I found it in the very first email. ;)

[2015-09-30 16:01] #550 closed, assigned to nobody

[2015-09-30 16:04] sfeinholz opened #551 "Still getting emails"
Even though I set my settings to Ignoring, I still get emails from other people in the class.

[2015-09-30 16:04] #502 closed, assigned to nobody

[2015-09-30 16:13] kcentofante opened #552 "Setting up repositories on GitHub Enterprise - best practices?"
Are there recommended best practices for setting up repositories on GitHub Enterprise?

Portfolio structure, services structure, combination, etc?

Thanks!

Kristin

[2015-09-30 16:13] sbrinkmeyer opened #553 "you ask people to not commit to master. Can't you set access so that we cant and only you can pull?"

[2015-09-30 16:13] kyleschmitz commented on #1
Hello

[2015-09-30 16:14] joshijee commented on #1
test

[2015-09-30 16:15] bcmatz opened #554 "nevermind"
D:\gittest>git clone git@github.com:githubteacher/github-for-developers-sept-2015.git
Cloning into 'github-for-developers-sept-2015'...
Warning: Permanently added the RSA host key for IP address '192.30.252.128' to the list of known hosts.
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2015-09-30 16:17] #554 closed, assigned to nobody

[2015-09-30 16:17] snigdhajain opened #555 "How to sync to latest Master?"

[2015-09-30 16:18] OluOyedipe opened #556 "when will the git shell settings for mac be available."
@patrickmckenna i believe you mentioned it will be available soon?

[2015-09-30 16:21] snigdhajain opened #557 "When trying to switch to master, i get: "error: Your local changes to the following files would be overwritten by checkout: readme.md Please, commit your changes or stash them before you can switch branches. Aborting""

[2015-09-30 16:21] Ghastius commented on #1
Howdy

[2015-09-30 16:22] CSAmador opened #558 "."
My clone is from yesterday with a bunch of other files...will this cause trouble later in the class? How do I update it,....or remove it like teach did?

[2015-09-30 16:24] rtauber92054 opened #559 "How do you see all the branches in your git?"
When you first navigate to GIT folder how do you see all the branches you have

[2015-09-30 16:26] SangySantharam opened #560 "how to get in to this webinar day 2???"

[2015-09-30 16:28] abhibond commented on #556
https://help.github.com/articles/set-up-git/

[2015-09-30 16:29] maryfries opened #561 "What do you do after "git commit"?"
I ended up in a terminal editor that I couldn't get out of...

Sorry, not a terminal user...

mfries-mbp:github-for-developers-sept-2015 mfries$ git commit

Please enter the commit message for your changes. Lines starting
# with '#' will be ignored, and an empty message aborts the commit.
# On branch mary-branch
# Changes to be committed:
# new file:   mary-demo.md
#

~
~
~
~
~
~
~
~
~
~
~
~
~
~
~

[2015-09-30 16:31] rtauber92054 opened #562 "How do you have your branch name cached in the console for use?"

[2015-09-30 16:31] kyleschmitz commented on #1
Still don't have permission

[2015-09-30 16:31] sbrinkmeyer opened #563 "i want to clone from github, but then push to github.local.io how do?"
is it just changing the origin  parameter?

[2015-09-30 16:32] sbrinkmeyer commented on #563
@saranicole do you know?

[2015-09-30 16:33] sbrinkmeyer opened #599 "can you create a pull request from the command line? +1 +1 +1 +1"

[2015-09-30 16:34] maryfries commented on #561
![image](https://cloud.githubusercontent.com/assets/6549787/10199606/83ec09e6-676f-11e5-8e91-d88523ac263e.png)

[2015-09-30 16:34] saranicole commented on #563
You need to add the other url as a remote.

git remote add <<nickname>> github.local.io

Then you can specify that with the -u parameter

https://help.github.com/articles/adding-a-remote/

[2015-09-30 16:34] saranicole commented on #563
Like `git remote add myremote github.local.io`

[2015-09-30 16:34] bcmatz commented on #599
:+1:

[2015-09-30 16:35] jdtao opened #638 "how to resolve the conflict?"

[2015-09-30 16:36] #559 closed, assigned to nobody

[2015-09-30 16:36] snigdhajain opened #641 "How to revert a commit?"

[2015-09-30 16:36] WeitiHuang opened #642 "Is there a way to disable the "Markdown" support at the comment basis?"

[2015-09-30 16:36] aabognah commented on #599
:+1:

[2015-09-30 16:36] jmbalasalle commented on #599
:+1:

[2015-09-30 16:36] sreedasari commented on #641
:+1:

[2015-09-30 16:37] pvencel commented on #599
:+1:

[2015-09-30 16:37] sanjay990 commented on #641
if you want to completely remove the last commit locally .. you can use
git reset --hard HEAD~1

[2015-09-30 16:38] jns111 opened #648 "How does one solve "This branch has conflicts that must be resolved" in git while merging pull request?"

[2015-09-30 16:39] jencabral-iq commented on #1
Hi. need access please :)

[2015-09-30 16:39] maryfries commented on #561
I'm still stuck here... I can't make the commit.

[2015-09-30 16:39] gstanek opened #657 "Local commit issues"
When I type git commit, I am prompted to enter a commit messages as expected.  I'll enter something like the following and save the file.  Then, when I type git status afterwards, the file has not been committed.  What am I doing wrong?

Short commit message for practice

Detailed commit message for practice
# Please enter the commit message for your changes. Lines starting
# with '#' will be igno

[2015-09-30 16:40] neicher1 commented on #560
you have to separately register for day two...to get in.  Check your email for the day two registration link (from the day you signed up).

[2015-09-30 16:40] rtauber92054 opened #659 "SO I deleted branch through WEB but still on my local..?"

[2015-09-30 16:40] ghost opened #661 "How do we access the tutorial slides ?"

[2015-09-30 16:40] WeitiHuang commented on #1
Hi there

[2015-09-30 16:41] sfeinholz opened #664 "after merge, how do i delete branch?"

[2015-09-30 16:41] bikbajwa opened #665 "How do I make one commit per pull request?"
How do I shrink an entire pull request into one commit?

[2015-09-30 16:41] jaw6 commented on #405
@milindrao & all: Revert (either at the command-line, or the `Revert` button on GitHub Pull Requests) creates a new commit which does everything the opposite of the target commits/PR. Everything the target adds is subtracted and everything the target subtracts is added.

When there are other/future commits/PRs in the repository, the effects of the Revert will depend on exactly what changes/changed

[2015-09-30 16:41] #405 closed, assigned to nobody

[2015-09-30 16:41] saranicole commented on #561
You can add the flag "-m" to add a commit message right from the commit.

git commit -m "My awesome comment"

Then do a push to your branch:

git push -u origin mybranch

[2015-09-30 16:41] vb186017 opened #668 "How to find reference for deleted branch?"
Once a branch is deleted, how do I find reference to that branch again? I can't find it under branch tab.
Just in case I want to restore the branch later.

[2015-09-30 16:42] hs186016 commented on #1
Hello

[2015-09-30 16:42] maryfries commented on #561
I got to here:

mfries-mbp:github-for-developers-sept-2015 mfries$ git push -u origin test-push
Username for 'https://github.com': maryfries
Password for 'https://maryfries@github.com':
error: src refspec test-push does not match any.
error: failed to push some refs to 'https://github.com/githubteacher/github-for-developers-sept-2015.git'
mfries-mbp:github-for-developers-sept-2015 mfries$

[2015-09-30 16:42] saranicole commented on #664
Using command line:

git branch -d mybranch

From the ui - once you do the merge, it will show a button "Delete branch"

[2015-09-30 16:44] saranicole commented on #657
It's not saving the commit message.

You can add the message right in the git commit command:

git commit -m "My awesome comment"

Then you can do a push to your branch:

git push -u origin mybranch

[2015-09-30 16:44] rtauber92054 opened #672 "can you demo hot to delete this branch demo-local-rtauber92054-branch?"

[2015-09-30 16:45] maryfries commented on #561
OK, I got a commit to go through, but there then when I pushed it still says there is nothing to push...

[2015-09-30 16:46] maryfries commented on #561
mfries-mbp:github-for-developers-sept-2015 mfries$ git commit -m "my commit"
[mary-branch 945af64] my commit
 1 file changed, 3 insertions(+)
 create mode 100644 mary-demo.md
mfries-mbp:github-for-developers-sept-2015 mfries$ git push -u origin test-push
error: src refspec test-push does not match any.
error: failed to push some refs to 'https://github.com/githubteacher/github-for-developers-sept-

[2015-09-30 16:46] saranicole commented on #561
If you added a file you will also need to use `git add` to add it.

If you do `git status` it will tell you if there are any files that need to be added.

To add all files you can do `git add -A`

Then when you do your commit it should show up

What do you get when you do `git status` ?

[2015-09-30 16:47] maryfries commented on #561
On branch mary-branch
nothing to commit, working directory clean

[2015-09-30 16:47] maryfries commented on #561
i never got a pull request though...

[2015-09-30 16:48] stevendluke commented on #659
:+1:

[2015-09-30 16:49] saranicole commented on #561
Try resetting your branch and add a file again:

git reset --hard

Then create a file:
touch myfile.txt

Add it:
git add myfile.txt

Commit:
git commit -m "My awesome file"

Push:
git push -u origin mary-branch

[2015-09-30 16:49] snigdhajain opened #675 "How to force overwriting your local copy when merging? I had made changes locally that i want to get rid of."

[2015-09-30 16:49] jaw6 commented on #1
@kyleschmitz @jencabral-iq @1walterh @hs186016 you've all been added as collaborators now. :star:

[2015-09-30 16:49] saranicole commented on #561
You only do the pull request when you're trying to merge your branch into master, so that won't affect you right now.

`git pull` is for when someone else made a change that you're bringing into your local working directory

[2015-09-30 16:52] saranicole commented on #675
To reset your branch:
`git reset --hard`

To preserve local changes:
`git stash \ git pull \ git stash pop`

[2015-09-30 16:55] metherton opened #677 "git pull --rebase vs git merge"

[2015-09-30 16:55] tnguyen03 opened #678 "If I delete the README.md how do I undo it locally?"

[2015-09-30 16:55] SangySantharam commented on #560
Thank u! Finally in

[2015-09-30 16:57] amrutagokhale opened #679 "test issue"

[2015-09-30 16:57] rtauber92054 commented on #659
tauber@SDGL11b17b849:~/git/github-for-developers-sept-2015

[2015-09-30 16:58] jaw6 commented on #447
@mnshantz our application, GitHub for Windows, currently installs Git version 1.9.5 as "Git Shell", along with some sane default configuration enhancements (in other words: configures some things they way we [GitHub] find most Windows developers expect them to be). If you've installed Git from `git-scm.com`, the defaults install this as `Git Bash` (most likely under `Git` in your Start Menu, by de

[2015-09-30 16:58] #447 closed, assigned to nobody

[2015-09-30 16:58] #679 closed, assigned to nobody

[2015-09-30 16:59] amrutagokhale commented on #1
Please add me

[2015-09-30 17:00] ringhilterra opened #681 "Why did the commands you used for resolving conflicts differ from github directions?"
![githubcommandline](https://cloud.githubusercontent.com/assets/3506706/10200213/e57cdc1e-6759-11e5-8f26-49d7387a340b.PNG)

[2015-09-30 17:00] snigdhajain opened #682 "While trying to merge, I get: "error: Your local changes to the following files would be overwritten by merge: Another file readme.md Please, commit your changes or stash them before you can merge. Aborting""
How to force overwriting of local changes in this case?

[2015-09-30 17:01] Ziliboba opened #683 "Why did we merge custom branch into master and not master into custom branch?"
Is it a better practice to merge master into custom branch and then push custom branch and try to merge PR once again? :trollface:

[2015-09-30 17:01] saranicole commented on #558
Switch to the master branch then do a pull:
git checkout master
git pull

If there were any local changes reset to remove them:
git reset --hard

[2015-09-30 17:04] patrickmckenna commented on #599
@sbrinkmeyer Yup, check out [Hub](https://hub.github.com/).

[2015-09-30 17:04] #599 closed, assigned to nobody

[2015-09-30 17:04] Ziliboba commented on #682
Seems that you have uncommited changes on your current branch. Do git commit -m "commit message", and then try to merge again.

[2015-09-30 17:04] kevinman42 opened #685 "Does push fail due to *any* changes made to origin that aren't yet pulled to the local repo?"
What if the changes are to a distinct set of files not altered in the local repository?  I.e., no chance for a conflict?

[2015-09-30 17:05] saranicole commented on #677
:+1:

[2015-09-30 17:05] PinoEire commented on #677
In short, merge is non-destructive while rebase rewrites the very history, resulting in a cleaner and more linear project. Using rebase in conjunction with pull behaves like moving any local change on the current master HEAD.

[2015-09-30 17:06] cbrownrt commented on #661
https://training.github.com/kit/courses/github-for-developers.html

[2015-09-30 17:06] cbrownrt commented on #677
:+1:

[2015-09-30 17:07] PinoEire commented on #685
Only if they affect the files you are trying to push

[2015-09-30 17:07] gstanek commented on #657
@saranicole What you've suggested worked (with the shorthand -m option).  Thanks for that.

In the case of using the text editor, it looks like Git Bash didn't pick up the commit file possibly due to the fact that I had multiple Atom editor windows open.  When all windows were closed and I've saved and closed the Atom editor, The commit message did register.  Good to know.

I'm running Windows, Gi

[2015-09-30 17:07] saranicole commented on #677
How does the history get rewritten?  Does it erase the record of a particular commit?

[2015-09-30 17:08] sbrinkmeyer commented on #563
:+1:

[2015-09-30 17:08] saranicole commented on #657
Cool, thank you for confirming.  Will close out issue then.

[2015-09-30 17:08] #657 closed, assigned to nobody

[2015-09-30 17:09] Ziliboba commented on #665
You can do  "git rebase" on your custom branch and "squash" several commits into one commit before merging PR to master.

[2015-09-30 17:09] vb186017 opened #686 "Push conflict (push -u v/s push)"
I think my push command lead to push conflict.
Here are the steps I followed:
1. Cloned master
2. Created new branch (B1) locally
3. Switched to B1 and made changes
4. Used "git push -u origin B1"
5. From github.com, merged the branch after creating pull request and deleted it
6. Locally, made some more changes to B1
7. Used "git push" (Thinking it will not make a push to master)

Can you please p

[2015-09-30 17:09] bcmatz opened #687 "what is the difference between origin master and orgin/master"
Different syntax, different operation ?

[2015-09-30 17:09] TonyL-teradata opened #688 "Can you perform Git functions using the Git GUI?"
I know you have not discussed about the Git GUI.

Can one use the Git GUI to perform Git functions (create branch, merge conflicts, etc), instead of using the command line?

[2015-09-30 17:09] sbrinkmeyer commented on #677
:+1:

[2015-09-30 17:09] bcmatz commented on #687
:+1:

[2015-09-30 17:09] sweetfisheric commented on #555
git fetch --all
git reset --hard origin/master

[2015-09-30 17:10] kaiyuan01 opened #689 "How to add a new folder in a branch and push to "origin"?"

[2015-09-30 17:10] saranicole commented on #678
If you are on the master branch and you delete the README.md locally you can restore your local working directory:
`git reset --hard`

to restore the file

[2015-09-30 17:10] NickGe commented on #682
:+1:

[2015-09-30 17:10] Gurinder-Gill opened #690 "Can you use external UI based merge tools for resolving merge"

[2015-09-30 17:10] #685 closed, assigned to nobody

[2015-09-30 17:11] sfeinholz commented on #664
ah, I thought patrick did it with the GUI and missed that step.

[2015-09-30 17:11] saranicole commented on #664
Cool, thanks for confirming.  Will close out issue

[2015-09-30 17:11] #664 closed, assigned to nobody

[2015-09-30 17:11] jamie-cyber1 opened #691 "Wouldn't it be easier to 'merge origin/master' to github teacher branch and update the pull request instead of the other way around?"

[2015-09-30 17:12] PinoEire commented on #677
@saranicole Not quick to explain, better look at http://git-scm.com/docs/git-rebase :smile:

[2015-09-30 17:12] jdtao opened #692 "other than sublime, is there any other tool to see the conflict?"

[2015-09-30 17:12] rtauber92054 commented on #672
:-)

[2015-09-30 17:13] saranicole commented on #682
Make sure you have done a git pull first:
`git pull`

If you have and you still have trouble you might have local uncommitted changes as @Ziliboba mentioned.

To stash (preserves local changes WITHOUT committing them):
`git stash \ git pull \ git stash pop`

To reset (discards all local changes)
`git reset --hard`

[2015-09-30 17:14] TonyL-teradata commented on #688
:+1:

[2015-09-30 17:16] saranicole commented on #677
@PinoEire cool, thank you

[2015-09-30 17:16] jaw6 commented on #677
This is a deep topic, but I'll try to explain here (in case we don't have time to cover it in depth during class). Git commits contain a pointer to the commit's parent (or, in the case of merge commits, parent**s**). A branch is a pointer to the latest commit in a chain of commits pointing backwards in "time". `rebase` (and other commands that alter history, like `reset`) change history by alterin

[2015-09-30 17:16] #677 closed, assigned to nobody

[2015-09-30 17:18] kaiyuan01 commented on #689
:+1:

[2015-09-30 17:18] rtauber92054 commented on #659
don't leave us hanging...

[2015-09-30 17:19] saranicole commented on #689
You can use the `git add` command for a directory as you can for a file:
`git add mydirectory`

http://git-scm.com/docs/git-add

Then you will need to commit as usual:
`git commit`

Finally push:
`git push -u origin mybranch`

[2015-09-30 17:19] jaw6 commented on #659
That's right -- the local and remote (GitHub) branches are linked, but it's a loose connection, deleting the branch on GitHub doesn't _automatically_ delete your local branch.

Try `git branch -d <branch name>` to delete a branch that has already been merged.

`git branch -D <name>` will override the safeguards and delete a branch that hasn't been merged.

[2015-09-30 17:19] #659 closed, assigned to nobody

[2015-09-30 17:19] #661 closed, assigned to nobody

[2015-09-30 17:20] jaw6 commented on #672
Answered in #659

[2015-09-30 17:20] #672 closed, assigned to nobody

[2015-09-30 17:20] #556 closed, assigned to nobody

[2015-09-30 17:20] WoodyTheWoodman commented on #535
@nathanv I understand that much. But what I was getting at is I delete the branch on GitHub.com, but then I still have the local copy, which I also have to delete. So I'm wondering if there is any way of syncing branches on GitHub.com vs locally.

Additionally, if I delete the branch on GitHub.com, can I still make updates to my local branch and then push those changes? Or will GitHub barf because

[2015-09-30 17:21] jaw6 commented on #683
That's usually our recommendation (eg, it's typically best to merge **from** `master` into `branch` and push `branch` to update the pull request) but it's sometimes useful to show alternatives in class.

[2015-09-30 17:21] #683 closed, assigned to nobody

[2015-09-30 17:21] saranicole commented on #563
Looks like this worked for you - closing out issue.

[2015-09-30 17:21] #563 closed, assigned to githubteacher

[2015-09-30 17:22] jungao1999 opened #694 ""git branch -d branchA" will delete both local and remote branchA?"

[2015-09-30 17:22] nickomart commented on #686
:+1:

[2015-09-30 17:23] saranicole commented on #557
Make sure you have done a git pull first:
`git pull`

If you have and you still have trouble you might have local uncommitted changes

To stash (preserves local changes WITHOUT committing them):
`git stash \ git pull \ git stash pop`

To reset (discards all local changes)
`git reset --hard`

[2015-09-30 17:23] milindrao opened #696 "The Readme.md file is not the one you committed."
The Readme.md file in master is showing all the changes made.  With the conflicts.  Not the resolved file you checked in.

[2015-09-30 17:24] jaw6 commented on #686
@vb186017 So, `-u` is short for `--set-upstream` -- it creates a link between your local branch and the remote branch you are pushing to, so in the future, `git pull` and `git push` (without any other parameters) will, by default, continue to pull/push from the remote branch specified.

In this case, `git push -u origin B1` is saying "push branch `B1` to the remote `origin` using the same `B1` nam

[2015-09-30 17:25] PinoEire opened #697 "Why the forking workflow has not been presented?"
IMO is the best one for cleaner production line, why it's been left out from the class?

[2015-09-30 17:25] rtauber92054 opened #698 "Way to delete branches on WEB should be demo'd"
Was actually looking for https://github.com/githubteacher/github-for-developers-sept-2015/branches

[2015-09-30 17:28] jaw6 commented on #687
`origin` is the name of the remote -- it's a default, used by git when initially cloning. When manually adding a remote, you must give it a name, if there's _only_ one remote, it's traditional for developers to call it "origin" as well.

`master` is the name of a branch -- also a default, used by git when initially creating a new repository. Developers often use `master` as the name of the main, "

[2015-09-30 17:28] #687 closed, assigned to nobody

[2015-09-30 17:29] Ziliboba commented on #691
:+1:

[2015-09-30 17:30] jaw6 commented on #690
You can. This can be invoked with `git mergetool` and configured with `git config --global merge.tool`.

[2015-09-30 17:30] #690 closed, assigned to nobody

[2015-09-30 17:30] jaw6 commented on #692
Any editor will show the merge conflict -- you'll see `>>>>`, `=====` and `<<<<<` in _any_ text editor you use to view the files.

[2015-09-30 17:30] #692 closed, assigned to nobody

[2015-09-30 17:31] sanjay990 commented on #694
It will only delete local branch, if it's already merged. To delete remote branch
git push origin --delete <branchName>

[2015-09-30 17:31] #698 closed, assigned to nobody

[2015-09-30 17:32] vb186017 commented on #686
So basically my second "git push" ideally pushed to master?

[2015-09-30 17:34] #150 closed, assigned to nobody

[2015-09-30 17:34] rtauber92054 opened #700 "using git diff --stat origin/gill-update-readme what does bs-test-file.md | 0 mean?"

[2015-09-30 17:36] jaw6 commented on #697
We focus on the most common workflows in class -- our students typically work in environments where collaborators interact within a common repository. Additionally, especially important for our classes, forking is an inherently more complicated workflow -- requiring managing multiple remotes, as well as understanding the differences between forks & branches. It's harder for folks totally new to ve

[2015-09-30 17:36] #697 closed, assigned to nobody

[2015-09-30 17:37] #694 closed, assigned to nobody

[2015-09-30 17:40] jaw6 commented on #689
Git, due to its design, doesn't track empty folders -- git _only_ tracks files. Files can be inside folders, but an empty folder, by itself, is "invisible" to Git.

In software development, it's common for projects to need an empty folder to be part of the project (a `log` directory, say, where the program can write log files, might need to exist on disk, even if we don't actually ever want to tra

[2015-09-30 17:40] #689 closed, assigned to nobody

[2015-09-30 17:41] #682 closed, assigned to nobody

[2015-09-30 17:41] sbrinkmeyer opened #702 "all the diff you showed is still "client side" is there a diff my client side readme to the github/master/readme?"

[2015-09-30 17:42] saranicole commented on #689
Thanks @jaw6 for the clarification

[2015-09-30 17:43] sbrinkmeyer commented on #691
:+1:

[2015-09-30 17:44] jaw6 commented on #668
@vb186017 Git doesn't have a branch "Trash can" or "Recycle bin" mechanism to track branches that used to exist but have since been deleted. A branch is a pointer to a commit that follows as new commits are added "forward" of that commit in the repository. If you delete a branch and remember (or see in `git log`) the commit SHA id for where the branch used to be, you can restore it with:

[code]

[2015-09-30 17:44] #668 closed, assigned to nobody

[2015-09-30 17:44] #665 closed, assigned to nobody

[2015-09-30 17:44] #678 closed, assigned to nobody

[2015-09-30 17:44] sbrinkmeyer opened #705 "in github issues, can you mark an issue a duplicate of another issues?"
@saranicole are you with github?  or just another user?

[2015-09-30 17:45] jaw6 commented on #648
You'll need to update your branch with new commits from master, resolve those conflicts and push the updated/resolved branch to GitHub. Something like this:

[code]

[2015-09-30 17:45] #648 closed, assigned to nobody

[2015-09-30 17:45] rtauber92054 opened #706 "Can you share how you got your command prompt to include (<branch>) ?"

[2015-09-30 17:46] saranicole commented on #705
@sbrinkmeyer I'm another monkey like you

[2015-09-30 17:47] jaw6 commented on #642
@1walterh all comments on GitHub are treated as Markdown. If you want to type something without it being rendered (say, a snippet of html code) you can surround that code with `(a backwards apostrophe, or "back-tick"; typically the key left of the 1 key, top left on a US keyboard). If you have more than one line, surround those lines with``` (three back-ticks).

[2015-09-30 17:47] uclabruins89 commented on #681
+1

[2015-09-30 17:48] #638 closed, assigned to nobody

[2015-09-30 17:48] saranicole commented on #705
@sbrinkmeyer some of these questions I know some I don't

[2015-09-30 17:48] sbrinkmeyer commented on #706
i'm going to follow this

http://git-scm.com/book/en/v2/Git-in-Other-Environments-Git-in-Bash

[2015-09-30 17:49] jaw6 commented on #688
The Git GUI can do many things. We focus the class on the command line tools, since they work on every system; the Git GUI isn't always available. The terms, concepts, and workflows we cover in class will work with any GUI application; if we taught class with a specific GUI (even Git GUI) those concepts/workflows wouldn't _always_ translate 100% to any other GUI/application.

[2015-09-30 17:49] #688 closed, assigned to nobody

[2015-09-30 17:50] milindrao commented on #696
Hmmm.  It looks like it got fixed now.  Not sure how and when that happened.

[2015-09-30 17:50] #696 closed, assigned to nobody

[2015-09-30 17:51] jaw6 commented on #686
If you were following the steps you describe here, and were checked-out to `B1` when you did a `git push`, you pushed to `B1`, not to `master`.

[2015-09-30 17:51] #686 closed, assigned to nobody

[2015-09-30 17:51] rtauber92054 opened #708 "Protected repo's (i.e. master) is great. What then is the process to allow merges?"

[2015-09-30 17:51] jaw6 commented on #705
You can -- some projects even set up a `duplicate` label to make this easier.

[2015-09-30 17:51] #705 closed, assigned to nobody

[2015-09-30 17:53] sbrinkmeyer opened #709 "when looking for plus 1's in issues for questions"
could you sort by comment count please?  we are ending up answering questions that have only 0 or 1 +1's ...

[2015-09-30 17:54] jmarlena commented on #706
:+1:

[2015-09-30 17:55] jaw6 commented on #641
To revert a commit, first locate that commit's SHA (eg, `abc123`). Then:

[code]

Keep in mind: Git will require more information if you're attempting to revert a **merge commit**, as merge commits have two (or more) parents. If you want to revert a merge, it's usually best to use the `Revert` button in the GitHub pull request, as it will revert _all_ the commits in the pull request in one, and yo

[2015-09-30 17:55] #641 closed, assigned to nobody

[2015-09-30 17:56] jmarlena commented on #691
:+1:

[2015-09-30 17:56] sbrinkmeyer commented on #708
we will be using this process where the ?lead? will be responsible for merging pull requests generated by other developers.  the other developers will not have the ability to do what we are doing (merging our own pull requests).  we could also set it up so that the individual branches are building & testing via a ci system and auto generate the pull request which in turn notifies the person respon

[2015-09-30 17:57] jleaver commented on #706
:+1:

[2015-09-30 17:57] BFCIV commented on #545
I had to add my proxy to the git config --global

[2015-09-30 17:57] jaw6 commented on #708
@rtauber92054 the first step of protected branches prevents the branch from being deleted or "force pushed" (which deletes history from the branch). There's a second (optional) step with protected branches that establishes one (or more) _required_ status (eg, from CI) before a pull request is allowed to be merged.

[2015-09-30 17:57] #708 closed, assigned to nobody

[2015-09-30 17:58] #557 closed, assigned to nobody

[2015-09-30 17:59] BFCIV commented on #545
https.proxy=https://web-proxy.xyz.xyz.com:8080
http.proxy=http://web-proxy.xyz.xyz.com:8080

[2015-09-30 18:00] sbrinkmeyer commented on #702
@jaw6 (just getting your attention) :smile:

[2015-09-30 18:00] jmarlena commented on #551
Are these emails from issues that you've commented on?

[2015-09-30 18:01] jaw6 commented on #553
All repository collaborators can write (commit & push) to any branch. It's possible to set up ["protected branches"](https://github.com/blog/2051-protected-branches-and-required-status-checks) that prevent deleting and "force pushing" to one or more branches.

If you're looking to set up "tiers" of access to repositories, you might look at having developers Fork the main repository -- so, the "tru

[2015-09-30 18:01] #553 closed, assigned to githubteacher

[2015-09-30 18:02] jaw6 commented on #555
@sweetfisheric's suggestion will work, but keep in mind that you'll be throwing away any commits you made locally on `master` (which you shouldn't do, but it happens). You can also do: `git pull --rebase` to update and move _any_ local `master` commits to _after_ any remote commits.

[2015-09-30 18:02] #555 closed, assigned to nobody

[2015-09-30 18:03] sbrinkmeyer commented on #431
actually yes, cause we can create ?tags? in that same branch pull down.  i'm curious about "labels" in svn or tags? in git? @jaw6

[2015-09-30 18:03] jaw6 commented on #551
@sfeinholz you might have encountered a bug -- Ignoring should really mean **no notifications**. Can you link to an example where you got a notification _after_ setting the repository to Ignore ? I can forward it to our developers.

[2015-09-30 18:03] #551 closed, assigned to nobody

[2015-09-30 18:03] saranicole commented on #561
Sounds like you're all set so I'm going to close this out.  Please reopen if not.

[2015-09-30 18:03] #561 closed, assigned to nobody

[2015-09-30 18:05] #450 closed, assigned to nobody

[2015-09-30 18:06] jaw6 commented on #700
That output usually indicates that a file (in this case `bs-test-file.md`) is newly added in the branches being compared (here, it looks like your comparing some local checkout to a branch on `origin` called `gill-update-readme`).

[2015-09-30 18:06] #700 closed, assigned to nobody

[2015-09-30 18:07] #526 closed, assigned to nobody

[2015-09-30 18:07] #709 closed, assigned to githubteacher

[2015-09-30 18:07] #706 closed, assigned to nobody

[2015-09-30 18:09] jaw6 commented on #562
See http://git-scm.com/book/en/v2/Git-in-Other-Environments-Git-in-Bash for some ideas on how to set this up.

[2015-09-30 18:09] #562 closed, assigned to nobody

[2015-09-30 18:11] maryfries commented on #561
Thanks SaraNicole!

[2015-09-30 18:11] #510 closed, assigned to nobody

[2015-09-30 18:12] saranicole commented on #561
@maryfries Sure thing!

[2015-09-30 18:13] #151 closed, assigned to nobody

[2015-09-30 18:13] jaw6 commented on #431
@sbrinkmeyer sure, you can create a tag, just click the "Tags" tab in the branch pull down:

![githubteacher_github-for-developers-sept-2015](https://cloud.githubusercontent.com/assets/2077/10202066/bdec7c0c-6774-11e5-915e-6da5aa87faeb.jpg)

In Git, a tag is, like a branch, a human-friendly reference for a specific commit SHA. Unlike a branch, which will update to follow along with any new commits

[2015-09-30 18:13] #431 closed, assigned to nobody

[2015-09-30 18:17] jaw6 commented on #681
The instructions GitHub provides for resolving a conflicted pull request will update the requesting branch with any changes from `master` (and, if you continue with Step 2, push the resolved merge directly into `origin/master`, resolving the pull request as a side-effect). In class, we're illustrating resolving a conflicted merge, a Git-level (not GitHub-level) operation that's likely to come up m

[2015-09-30 18:17] #681 closed, assigned to nobody

[2015-09-30 18:17] #560 closed, assigned to nobody

[2015-09-30 18:17] #558 closed, assigned to nobody

[2015-09-30 18:18] saranicole opened #711 "Shortcut for entering git commit sha hash"
It looks like Patrick is copying the sha hash for a commit over to the next line.  I see there is a way to specify a commit using shorthands ( http://superuser.com/questions/464716/when-checkout-a-previous-commit-is-there-a-quick-way-to-input-the-log-commit-ha ).

Is there a way to autocomplete the sha hash itself ( rather than use the shorthand ) ?

[2015-09-30 18:18] Gurinder-Gill opened #712 "Can have work with multiple files or folders when adding / committing etc ?"

[2015-09-30 18:18] OluOyedipe opened #713 "can you revert any arbitrary commit"
what would happen if i wanted to revert the 10th commit instead of the last one?

[2015-09-30 18:22] jaw6 commented on #535
Git is designed to operate offline as much as possible -- local branches can be configured to "track" branches on a remote service (GitHub) but that "tracking" is really just setting a few sensible defaults for the `push` and `pull` commands -- essentially allowing you to type `git pull` without always having to explicitly say where you want to pull from/push to.

For better or worse, this design

[2015-09-30 18:22] #535 closed, assigned to nobody

[2015-09-30 18:23] jaw6 commented on #713
`git revert <SHA for the 10th commit>`

You'll create a commit which is the opposite of `SHA`, possibly requiring you to resolve one or more merge conflicts. Otherwise, it continues as in the demo.

[2015-09-30 18:23] #713 closed, assigned to nobody

[2015-09-30 18:23] Gurinder-Gill opened #715 "When merging the branched from very older tag/shard would cause merge issues ?"

[2015-09-30 18:24] jaw6 commented on #712
Yes, you can use `git add` to add multiple files to the stage. You can use patterns to match multiple files in one `git add` command, for example:

[code]

Will add all files beginning with a capital "R" to the stage at once.

[2015-09-30 18:24] #712 closed, assigned to nobody

[2015-09-30 18:25] jaw6 commented on #715
It's possible, maybe even more likely with an older tag, that you'll see more conflicts, but it entirely depends on the specific commits involved.

[2015-09-30 18:25] #715 closed, assigned to nobody

[2015-09-30 18:27] jaw6 commented on #711
I'm sure it's possible, but the specifics would vary a bit depending on shell, operating system, etc. One thing to keep in mind, is that you only need the minimum number of characters to uniquely identify the SHA in your repository. In small repositories, three characters is sometimes specific enough -- when it isn't, git will indicate that the SHA was "ambiguous". I typically use 5-8 characters (

[2015-09-30 18:27] #711 closed, assigned to nobody

[2015-09-30 18:28] saranicole commented on #711
@jaw6 Okey doke - thanks!

[2015-09-30 18:28] milindrao opened #716 "Why did you use git cherry-pick from the hotfix branch instead of pulling from master?"

[2015-09-30 18:29] kcentofante opened #717 "cherry-pick - what if branch is deleted after merging?"
In the example, hotfix was merged.  Best practice is to delete the branch.

Can I still use the "hotfix" branch name in the cherry-pick command if the branch was deleted after merge?

[2015-09-30 18:31] jaw6 commented on #716
In this scenario, we're imagining a developer working on a feature branch wants to have a single commit from the hotfix to continue their work on feature branch. It's probably not the most common scenario here -- I'd guess it's more common to `rebase` the feature branch on `master` after a hotfix has been merged -- but it does come up in some environments.

[2015-09-30 18:33] milindrao commented on #716
Thanks.  That makes sense.

But you used the phrase "rebase the feature branch on master".  Is that the CVS/SVN term rebase which merges changes in master to the branch?  Or the Git "rebase" which is rewrite the commit histories?

[2015-09-30 18:33] jaw6 commented on #717
`cherry-pick` targets a single commit via it's SHA. If you specific a branch (or tag) instead of a SHA id, git interprets that as if you had typed the SHA for the last commit in that branch.

In this case, if the branch has been deleted, you no longer have that handy pointer, you may need to find the specific SHA you're interested in picking.

[2015-09-30 18:33] #717 closed, assigned to nobody

[2015-09-30 18:33] ricktshawtd opened #718 "Why did "git checkout master -- Makefile" automaticaly add?"

[2015-09-30 18:34] sfeinholz commented on #547
can any terminal window support this functionality?
Not just GIT related?
I am on Windows.

[2015-09-30 18:34] jaw6 commented on #716
That's the one I mean -- and, in general, `merge` works just as well as `rebase` or `cherry-pick` -- the point we're trying to highlight in demonstrating `cherry-pick` is a scenario where you want to bring _exactly_ one commit, not a whole chain of commits.

[2015-09-30 18:34] #716 closed, assigned to nobody

[2015-09-30 18:35] #675 closed, assigned to nobody

[2015-09-30 18:37] rajkumar79 opened #719 "How can we release features to preproduction and also work on production fixes"
Lets assume that we have released build version 1.0.0 to production.

Now we need to work on features A,B,C and D and we create four different branches.

Feature Set Team A completed the feature and want to release code to a pre-production environment.

So they merge branch A with master and create a release artifact and they ship it to a pre production environment.

Now we have a production issue

[2015-09-30 18:39] saranicole opened #720 "Now he's just showing off ..."

[2015-09-30 18:40] #720 closed, assigned to nobody

[2015-09-30 18:41] jaw6 commented on #702
By design, Git prefers to work offline as much as possible. `diff` is, basically, always going to be comparing two things on disk. What you might be trying to get at, is how to "peek" at what's coming from GitHub before `pull` merges those changes in?

In that case, you might want to look at `git fetch`. `fetch` is approximately half of a `pull` -- it updates the remote refs (eg, `origin/master` i

[2015-09-30 18:41] #702 closed, assigned to nobody

[2015-09-30 18:49] phongta commented on #368
+1

[2015-09-30 18:50] schrags commented on #719
You could create a fix branch pointing to the production release SHA, add your changes, deploy, and merge back into master.

[2015-09-30 18:51] metherton opened #721 "Can you explain how to use .gitignore"

[2015-09-30 18:51] maryfries commented on #344
We double-checked. No one was force-pushing.

[2015-09-30 18:54] jaw6 commented on #719
So, I want to translate a little of what's going on into git commands:

[code]

In the scenario here, at this point, some issue is discovered in production (which has `1.0.0`, not `master`) and we want to fix _that_ issue but we're not actually ready to ship `featureA` (even though it's been merged to `master`).

First: we usually recommend (eg, in [GitHub Flow](https://guides.github.com/introduct

[2015-09-30 18:54] #719 closed, assigned to nobody

[2015-09-30 18:54] metherton opened #722 "Do you recommend using git mergetool to fix conflicts ?"

[2015-09-30 18:55] heyword opened #723 "Can you rename the Commit number so it has a descriptive label?"
Or is there a way to reset based on a Commit comment?

[2015-09-30 18:55] #721 closed, assigned to nobody

[2015-09-30 18:56] jaw6 commented on #691
Either direction works. We would usually recommend merging `origin/master` into `feature` (and that's what's recommended elsewhere) but in class, we wanted to illustrate a few other things in one go (including closing a pull request as a side effect of pushing changes into master).

[2015-09-30 18:56] #691 closed, assigned to nobody

[2015-09-30 18:57] heyword commented on #718
:+1:

[2015-09-30 18:58] ap120266 opened #724 "branch name in command prompt?"
this seems like it would be very useful

[2015-09-30 18:58] jaw6 commented on #722
It depends -- for simple conflicts, it can be overkill. In some developer environments, a git-aware IDE can provide a more familiar environment for managing conflicts (eg, especially if a build or test process is required after a merge conflict). But, otherwise, for complicated or non-IDE merges, a mergetool can be handy.

[2015-09-30 18:58] #722 closed, assigned to nobody

[2015-09-30 18:58] #723 closed, assigned to nobody

[2015-09-30 19:00] jaw6 commented on #724
The exact details will vary based on your operating system and shell, but if you're using Bash (most common shell), [these instructions](http://stackoverflow.com/questions/15883416/adding-git-branch-on-the-bash-command-prompt) should work.

[2015-09-30 19:00] #724 closed, assigned to nobody

[2015-09-30 19:03] maryfries opened #725 "Will there be an archive of this webinar?"
It would be great to review it again.

Thanks!

[2015-09-30 19:03] ap120266 commented on #724
@jaw6  Thanks, am using bash, i'll give that a try.

Nice Job to both of you

[2015-09-30 19:04] bcmatz opened #726 "FORK this repo if you would like to keep a copy for your records / reference!"

[2015-09-30 19:04] WeitiHuang commented on #642
@jaw Thanks.

Can you give short examples?

[2015-09-30 19:05] jaw6 commented on #725
We'll upload the recording of the webinar and email a link to the recording soon. (It can take some time to process the video.) In the meantime, all of the slides are [available online here](https://training.github.com/kit/courses/github-for-developers.html)

[2015-09-30 19:05] #725 closed, assigned to nobody

[2015-09-30 19:06] brian-rickman opened #727 "More about branching please"
The last hour or so of the 2nd day was particularly interesting to me, but I still don't feel like I understand how to work with branches effectively.  A full (3 hour) class on this topic would be helpful to me.

[2015-09-30 19:06] sfeinholz commented on #547
I downloaded and was using GitBash.
Does that support auto-complete?

[2015-09-30 19:20] #79 closed, assigned to nobody

[2015-09-30 19:23] maryfries commented on #725
Thank you!

[2015-09-30 19:28] patrickmckenna commented on #556
@OluOyedipe What did you mean exactly? How to get the current branch to show up in your prompt? Instructions for that are in #724.

[2015-09-30 19:41] patrickmckenna commented on #547
@sfeinholz Auto-completion is a property of your CLI setup, and is not inherently Git-related. Many different programs offer this, but that varies depending on the program in question, your shell env, &c. I'm not sure whether GitBash offers this by default; I assume that you tried and found tab-complete doing nothing?

[2015-09-30 19:43] sfeinholz commented on #547
that is correct; tab-complete did not work and I looked in the options and did not see anything to enable that feature.

do you know of any type of app that will work on Windows that supports auto-complete?

[2015-09-30 19:45] jaw6 commented on #642
`this text is a one-line code sample`

and

[code]

Click the "pencil icon" on this comment to see the formatting.

[2015-09-30 19:45] #642 closed, assigned to nobody

[2015-09-30 22:56] busreset commented on #547
If I have to touch windows, I use cygwin as my development environment.  Basically a GNU/Linux/Unix command line & X windows environment. With cygwin, you get bash (and git if you choose to install it), so auto-completion will certainly work there, including git completion if you set it up.  http://cygwin.net/

[2015-09-30 23:21] sfeinholz commented on #547
Thank you!

[2015-10-01 15:16] patrickmckenna commented on #547
Thanks for the info, @busreset!

[2015-10-01 15:16] #547 closed, assigned to githubteacher

[2015-12-20 06:09] Awakens commented on #344
When multiple people work on the same files on the same branch, what may happen is that Person A with an older file makes an edit to it and then Git marks it as a file with changes.
Then when Person A pulls, ... funny merges occur.

[2016-03-23 19:38] #59 closed, assigned to nobody

[2016-04-18 23:28] shankar26 commented on #648
👍 , it helped me

[2016-07-15 12:50] leonardojulius commented on #648
@jaw6 thanks it helps me :+1:

[2016-10-09 10:51] kirankakkeratd commented on #648
@jaw6 perfect solution :100: . Thanks :+1:

[2016-10-11 17:37] jitendravyas commented on #648
It helped me. thanks

[2016-10-20 12:28] 23ranjan commented on #648
Perfect. Thanks.

[2016-10-27 18:40] vishnugovind commented on #1
Please add me

[2016-11-19 09:18] jitendravyas commented on #648
i get this error

`This repository is configured for Git LFS but 'git-lfs' was not found on your path. If you no longer wish to use Git LFS, remove this hook by deleting .git/hooks/pre-push.
`

[2016-11-27 23:23] otisidev commented on #648
every helpful, thank you!

[2017-06-21 13:41] nj1306 commented on #648
If someone getting below error like me

use `-i` or `--include` flag with the `commit` command

`git commit -i -m "Your commit message"`

[2017-07-14 08:10] thorade commented on #705
There seems to be something automatic, too, see:
this issue is a duplicate of #1

[2017-07-21 14:09] 5chdn commented on #705
@thorade this is super cool. how did you manage to add an alt text to the "duplicate of" words?

[2017-07-21 14:45] thorade commented on #705
I did not do it, github did it
https://github.com/blog/2398-manage-issues-and-pull-requests-with-keyword-updates

[2017-07-27 15:51] bsonntag commented on #705
How can I unmark an issue marked as a duplicate?

[2017-09-15 09:10] thorade commented on #705
@bsonntag
https://help.github.com/articles/about-duplicate-issues-and-pull-requests/#unmarking-duplicates

[2017-10-18 12:34] amitrangra opened #731 "ar"

[2017-10-19 07:59] TomashKhamlai commented on #705
#1

[2017-10-19 07:59] TomashKhamlai commented on #705
dubl #1

[2017-10-19 08:00] TomashKhamlai commented on #705
this issue is a duplicate of #1

[2017-10-19 08:03] TomashKhamlai commented on #705
#59 [woodoo](https://www.google.com)

[2017-12-01 15:09] Georodent commented on #648
What do you do in the ----resolve conflicts-----  part?   Also, will this work with a "conflicting file" as well?

[2018-01-23 13:20] mathisGuerin opened #732 "mit"

[2018-01-30 19:15] tdk408 commented on #648
On "git checkout <branch>", should it be a new branch created for fixing the conflicts, or the original branch that reported the conflicts?

[2018-04-12 13:30] thorade commented on #705
Thanks for reaching out to GitHub Support!

We haven't reverted this feature, but we have made some changes to it based on feedback from users.

This should still work if you make a comment with only the phrase and the issue it relates to, and no other punctuation or text.

For example:

This will work - Duplicate of #1
This will not work - Duplicate of #1.
This will not work - Duplicate of #1. Pl

[2018-04-12 13:31] thorade commented on #705
Duplicate of #1

[2018-04-12 15:18] bsonntag commented on #705
@thorade does that apply to the "closes" feature too?

[2018-04-12 15:21] thorade commented on #705
When closing issues from a pull request, you can have additional text and it will still close the issue.

[2018-09-25 20:40] #142 closed, assigned to nobody

[2018-10-15 03:55] mkaleem4 commented on #682
where am i entering these commands??

[2018-11-26 19:02] ningcui-refundlabs commented on #648
perfect solution. Thanks.

[2019-01-09 13:15] sunset12321215 commented on #648
You are in the middle of a merge -- cannot amend.
help me please@@

[2019-01-16 02:42] ghost commented on #648
Thanks

[2019-01-17 20:38] jamalfrnk commented on #682
git bash

[2019-01-30 00:05] veasnama commented on #648
thank sir that really works for me. i never thought i would be fine. this is my day.

[2019-07-04 05:50] bala08yuvaraj opened #733 "Git status"
$ git status
fatal: bad numeric config value 'status' for 'color.ui': invalid unit

How to fix this error

[2019-07-09 04:57] #733 closed, assigned to nobody

[2019-09-16 05:41] hualongfeng commented on #682
I also see this error, but my branch clean, that is, it has be commit. How do I solve it.

[2020-03-13 17:52] Ahkshaey commented on #648
@thanks. Worked like pure magic. Bookmarking it as a great resource when trying to resolve conflicts on git for future reference....

[2020-04-01 12:56] himanshu4git commented on #682
Faced same issue but my reason was quite different. I setup git on windows powershell few days ago . later i switched to cygwin and was doing git pull. :) switching back to windows powershell resolved the issue.

[2020-04-01 21:33] kirbyfern commented on #682
@mkaleem4 on the terminal on your current local branch in your current project folder

[2020-04-08 01:31] hyungtaecf commented on #648
I got this after trying to merge with master:
Automatic merge failed; fix conflicts and then commit the result.

[2020-05-26 20:57] lfc-256 commented on #648
thanks @jaw6!

[2020-11-19 11:32] sajidali8 opened #734 "~m :0"

[2021-05-19 07:14] Basis1977 commented on #390
i am unbla to merge the close with unmerged commits

[2021-07-13 07:26] repl-mohit-kumar commented on #648
the conflict occurred because after ur change, someone else updated that file
so Github could not determine which lines to keep and which to remove with ur change
when we merged master, we pointed the local HEAD to the master code and with that Github was able to fix the merge conflict automatically.

[2021-09-10 22:58] OmarAlareeki commented on #648
Thank you, this is very helpful

[2021-12-06 06:32] Carlo8699 commented on #648
nice

[2022-01-15 08:08] kazyon commented on #648
what if this error shows at a fork of a repo ?

[2022-01-16 21:21] kazyon opened #735 "How does one solve "This branch has conflicts that must be resolved" in git while merging pull request?"
Error is happening when i try to create a PR for a forked repository!
Auto merge is not working correctly

[2022-02-24 04:13] mjahmed-wd commented on #445
Thanks, that works for me

my bash also showed "fatal: bad boolean config value 'true~' for 'core.autocrlf'" error earlier

[2022-02-26 06:35] charan-happy commented on #445
fatal: bad boolean config value 'truerecentrepo = C:/users/user' for 'core.logallrefupdates'
i am getting this error while initializing new repository.
please help me out with this issue

[2022-07-27 10:42] Wenjie76 commented on #648
Thank you, quite helpful

[2022-10-12 20:46] iLakshya commented on #648
Got the error. Thanks a ton ✌🏻